.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.global-cart-summary,
.secure-checkout .select2-drop,
.secure-checkout .site-header,
.secure-checkout .site-main {
  font-family: Montserratlight;
  font-size: 13px;
}

.secure-checkout .site-main h1,
.secure-checkout .site-main h2,
.secure-checkout .site-main h3,
.secure-checkout .site-main h4,
.secure-checkout .site-main h5,
.secure-checkout .site-main h6 {
  font-family: Montserratlight;
  font-weight: 700;
}

.secure-checkout .site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 59;
}

.secure-checkout .site-main {
  margin-top: 54px;
}

.secure-checkout .entry-header {
  margin: 25px 0 15px;
  border-bottom: solid 1px #dbdbdb;
}

.secure-checkout .entry-header-alt {
  margin: 50px 0;
  padding: 32px 15px 18px;
  border-radius: 3px;
  background-color: #f7f8f9;
}

.secure-checkout .entry-title-alt {
  position: relative;
  margin: 0 0 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.secure-checkout .entry-title {
  position: relative;
  margin: 0 0 15px;
  padding: 0 90px 0 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.secure-checkout .entry-title .sc-m--info {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 8px;
  font-size: 10px;
  font-weight: normal;
  line-height: 23.1px;
  letter-spacing: .04em;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.secure-checkout .entry-title .sc-m--info span:first-child:after {
  content: ' / ';
}

.secure-checkout .entry-title label {
  display: inline-block;
  font-size: 12px;
  margin: -2px 0 0;
  vertical-align: middle;
  color: #fc1159;
  cursor: pointer;
}

.secure-checkout .entry-header mark,
.secure-checkout .entry-header-alt mark {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 8px;
  font-size: 10px;
  font-weight: normal;
  line-height: 23.1px;
  letter-spacing: .04em;
  color: #fff;
  background-color: #d2d2d2;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.secure-checkout .entry-header-alt mark {
  color: inherit;
  background-color: inherit;
}

.secure-checkout .entry-header mark.active {
  background-color: #87c880;
}

.cart-empty {
  margin-bottom: 25px;
}

.cart #paypal-braintree-button-container {
  display: none;
}

.shop_table.cart {
  display: block;
  width: 100%;
  border: none;
  line-height: 2rem;
  margin-bottom: 1.75em;
}

.shop_table.cart tbody {
  display: block;
  width: 100%;
  border: none;
}

.shop_table.cart .cart_item {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.shop_table.cart tbody .cart_item td {
  position: relative;
  padding: 5px 10px;
  display: block;
  margin-right: 0;
  border: none;
}

.shop_table.cart tbody .cart_item td.product-price {
  color: #fc1159;
}

.shop_table.cart tbody tr:not(.cart_item) {
  display: block;
  width: 100%;
  text-align: right;
  padding: 10px 0;
}

.shop_table.cart tbody .actions {
  display: none;
}

.shop_table.cart tbody .actions .button,
.shop_table.cart tbody .actions [type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.shop_table.cart tbody .cart_item td.product-quantity {
  text-align: right;
  padding-bottom: 40px;
}

.shop_table.cart tbody .cart_item td.product-quantity input {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  width: 45px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 2px;
  border: solid 1px #dbdbdb;
  outline: none;
}

.shop_table.cart tbody .cart_item td.product-price {
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 0;
}

.shop_table.cart tbody tr:not(:last-child):not(:nth-last-child(2)) {
  border-bottom: solid 1px #dbdbdb;
}

.shop_table.cart thead {
  display: none;
}

.shop_table.cart tbody .cart_item td.product-name {
  position: relative;
  min-height: 90px;
  padding-left: 95px;
  font-size: 15px;
  color: #fc1159;
  overflow: hidden;
}

.shop_table.cart td.product-name p,
.shop_table.cart td.product-name .sc-p-n {
  display: inline-block;
  max-width: 100%;
  line-height: 80px;
  margin: 0;
  white-space: nowrap;
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shop_table.cart td.product-name figure {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 80px;
  height: 80px;
  background-color: #f7f8f9;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.shop_table.cart .remove {
  font-size: 21px;
  color: #fc1159;
}

.shop_table.cart .remove:not(:hover) {
  opacity: .5;
}

.secure-checkout .top-nav-holder {
  position: relative;
  height: 54px;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: solid 1px #dbdbdb;
}

.site-logo {
  display: block;
  width: 120px;
  height: 33px;
}

.site-logo svg {
  width: 100%;
  height: 100%;
}

.site-logo svg > path {
  display: none;
}

.site-logo:hover svg > path:nth-child(1) {
  fill: #eb2148;
}

.secure-checkout-nav {
	position: relative;
	text-align: right;
	padding-right: 45px;
}

.sc-slogan {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 34px;
  text-align: right;
  letter-spacing: .09em;
  text-transform: uppercase;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.sc-slogan i {
  font-size: 21px;
  line-height: 32px;
  color: #87c880;
}

.sc-nav {
  display: none;
}

.sc-nav > * {
  display: inline-block;
  position: relative;
  padding: 0 8px;
  margin: 5px 2px;
  font-size: 9px;
  letter-spacing: .04em;
  line-height: 24px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #fff !important;
  background-color: #d2d2d2;
  cursor: default;
}

.sc-nav > *.active {
  background-color: #87c880;
}

.sc-nav a:hover {
  background-color: #b2b2b2;
  -webkit-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
  cursor: pointer;
}

.sc-nav a.active:hover {
  background-color: #649b5c;
}

.widget {
  line-height: 1.5;
  margin-bottom: 25px;
}

.widget-title {
  font-size: 12px;
  padding: 0 0 25px;
  margin: 0 0 25px;
  line-height: 1.1;
  letter-spacing: .07em;
  text-transform: uppercase;
  border-bottom: solid 1px #dbdbdb;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.widget-title-alt {
  position: relative;
  display: block;
  font-size: 13px;
  margin: 0 0 25px;
  line-height: 1.1;
  letter-spacing: .09em;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.collapse-widget .widget-title-alt {
  padding-right: 2em;
  cursor: pointer;
}

.collapse-widget .widget-title-alt:after {
  content: '\e15b';
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'ideaing' !important;
  speak: none;
  font-size: 1.6153846154em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: .680952381;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.collapse-widget input[type=checkbox]:checked ~ .widget-title-alt:after {
  content: '\e145';
}

.collapse-widget input[type=checkbox]:checked ~ .cart-items {
  display: none;
}

.oncollapse .widget-title-alt:after {
  content: '\e145';
}

.gray-widget {
  padding: 25px 15px;
  border-radius: 4px;
  background-color: #f7f8f9;
}

.gray-widget p {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 25px;
  letter-spacing: .07em;
  text-transform: uppercase;
}

.gray-widget p > [class^="m-icon--"] {
  display: inline-block;
  margin-right: 25px;
  font-size: 18px;
  line-height: 1;
  vertical-align: bottom;
}

.gray-widget table {
  width: 100%;
  margin: 0 0 25px;
}

.gray-widget td,
.gray-widget th {
  padding: 10px;
  font-weight: normal;
}

.gray-widget tr:nth-last-child(2) td,
.gray-widget tr:nth-last-child(2) th {
  padding: 10px 10px 25px;
}

.gray-widget tr:first-child td,
.gray-widget tr:first-child th {
  padding: 25px 10px 10px;
}

.gray-widget tr td:last-child {
  text-align: right;
}

.gray-widget tr.order-total {
  text-transform: uppercase;
  letter-spacing: .09em;
}

.gray-widget tr.order-total th,
.gray-widget tr.order-total td {
  font-weight: bold;
}

.gray-widget tr:not(.order-total) {
  font-size: 11px;
  color: #505050;
  letter-spacing: .07em;
  background-color: #fff;
}

.gray-widget strong {
  font-weight: inherit;
}

.gray-widget ul {
  padding: 0 15px 25px;
  margin: 0 0 25px;
  background-color: #fff;
  border: solid 1px #dbdbdb;
}

.gray-widget li > span {
  display: block;
  position: relative;
  padding: 0 0 0 50px;
  margin: 25px 0 0;
  font-size: 13px;
  line-height: 18px;
}

.gray-widget li .t {
  letter-spacing: .09em;
  text-transform: uppercase;
}

.gray-widget li .c span {
  opacity: .35;
}

.gray-widget li .c > [class^="m-icon--"] {
  position: absolute;
  left: 10px;
  font-size: 18px;
}

.white-widget {
  padding: 25px 15px 0;
  border: solid 1px #dbdbdb;
}

.secure-checkout .ideaing-order-summary-widget .button {
  display: block;
  width: 100%;
  margin: 10px 0 0;
  padding: 0 15px;
}

.cart-items .cs--i {
  position: relative;
  padding-right: 45px;
}

.cart-items .remove {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 21px;
  line-height: 80px;
  color: #fc1159;
}

.cart-items .remove:not(:hover) {
  opacity: .5;
}

.cart-items .item {
  position: relative;
  display: block;
  padding: 0 0 0 95px;
  margin-bottom: 25px;
  height: 80px;
}

.cart-items a figure {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #f7f8f9;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.cart-items a .name,
.cart-items a .price {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart-items a .name {
  padding: 14px 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.cart-items a .price {
  font-size: 11px;
  letter-spacing: .07em;
}

.global-cart-summary .button,
.secure-checkout [type="submit"],
.secure-checkout .button {
  display: inline-block;
  padding: 0 45px;
  margin: 2px;
  line-height: 40px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .09em;
  border-radius: 2px;
  background-color: #d2d2d2;
  color: #fff;
  outline: none;
  cursor: default;
}

.global-cart-summary .button,
.secure-checkout .button-primary,
.secure-checkout [name="login"],
.secure-checkout .wc-backward,
.secure-checkout .checkout-button {
  background-color: #fc1159;
}

.secure-checkout [type="submit"]:focus,
.secure-checkout [type="submit"]:hover,
.secure-checkout .button:focus,
.secure-checkout .button:hover {
  background-color: #b2b2b2;
  -webkit-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
}

.global-cart-summary .button:focus,
.global-cart-summary .button:hover,
.secure-checkout .button-primary:focus,
.secure-checkout .button-primary:hover,
.secure-checkout [name="login"]:focus,
.secure-checkout [name="login"]:hover,
.secure-checkout .wc-backward:focus,
.secure-checkout .wc-backward:hover,
.secure-checkout .checkout-button:focus,
.secure-checkout .checkout-button:hover {
  background-color: #c10633;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  font-size: 13px;
  line-height: 2;
  padding: 17px 35px 17px 17px;
  border-radius: 2px;
  margin-bottom: 25px;
  background-color: #f7f8f9;
  letter-spacing: .02em;
}

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
  color: inherit;
  text-decoration: underline;
	background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: inherit !important;
  text-transform: none !important;
  letter-spacing: normal !important;
	line-height: inherit !important;
}

.woocommerce-error label,
.woocommerce-info label,
.woocommerce-message label {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  border-bottom: dashed 1px;
}

.woocommerce-error strong,
.woocommerce-info strong,
.woocommerce-message strong {
  display: inline-block;
  font-weight: normal;
  border-bottom: dashed 1px;
}

.woocommerce-error {
  color: #fff;
  background-color: #fc1159;
}

.woocommerce-message {
  color: #fff;
  background-color: #87c880;
}

.woocommerce-password-strength {
  position: relative;
  font-size: 12px;
  line-height: 2;
  padding: 17px;
  border-radius: 2px;
  margin: 25px 0;
  background-color: #f7f8f9;
  letter-spacing: .02em;
  overflow: hidden;
}

.woocommerce-password-strength:before {
  content: '';
  position: absolute;
  width: 400%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right,  rgba(255,0,0,0.2) 0%,rgba(239, 255, 0, 0.16) 36%,rgba(0, 19, 247, 0.13) 71%,rgba(0, 255, 196, 0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: left .4s ease-out;
  transition: left .4s ease-out;
}

.woocommerce-password-strength.bad:before {
  left: -100%;
}

.woocommerce-password-strength.good:before {
  left: -200%;
}

.woocommerce-password-strength.strong:before {
  left: -300%;
}

.checkout form.login {
  display: none;
}

label[for="show--login"] {
  color: #fc1159;
  font-weight: normal;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

#show--login:checked ~ form.login {
  display: block;
  -webkit-animation: ideaingfadeIn .4s ease-out;
  animation: ideaingfadeIn .4s ease-out;
}

.secure-checkout .required {
    display: none;
}

.secure-checkout .form-row {
    position: relative;
    margin-bottom: 25px;
}

.secure-checkout .form-row label:not(.normal) {
  position: absolute;
  left: 14px;
  top: 50%;
  font-weight: normal;
  line-height: 0;
  z-index: 1;
}

.secure-checkout .form-row label[for="rememberme"] {
  position: relative;
  padding-left: 30px;
  font-size: 10px !important;
  line-height: inherit;
  letter-spacing: .07em !important;
  top: 0 !important;
  left: 0;
}

.secure-checkout .form-row [name="rememberme"] {
  position: absolute;
  display: block;
  margin: 0;
  top: 2px;
  left: 11px;
}

.payment_box .form-row label:not(.normal) {
  z-index: 3;
}

.secure-checkout .form-row.focus label:not(.normal),
.secure-checkout .form-row.active label:not(.normal) {
  top: 14px;
  font-size: 10px;
  letter-spacing: .07em;
/*   text-transform: uppercase; */
  z-index: 3;
}

.secure-checkout .form-row .select2-container {
  z-index: 5;
}

label[for="billing_address_1"],
label[for="shipping_address_1"] {
  display: none
}

.secure-checkout .form-row select,
.secure-checkout .form-row input[type="text"],
.secure-checkout .form-row input[type="password"],
.secure-checkout .form-row input[type="email"],
.secure-checkout .form-row input[type="tel"],
.secure-checkout .form-row textarea {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 18px 14px 10px 14px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5384615385;
    border: solid 1px #dbdbdb;
    background-color: transparent;
    border-radius: 2px;
    z-index: 2;
}

.secure-checkout .form-row select:focus,
.secure-checkout .form-row input[type="text"]:focus,
.secure-checkout .form-row input[type="password"]:focus,
.secure-checkout .form-row input[type="email"]:focus,
.secure-checkout .form-row input[type="tel"]:focus,
.secure-checkout .form-row textarea:focus {
  outline: none;
  border-color: #4489c9;
  -webkit-transition: border-color .4s ease-out;
  transition: border-color .4s ease-out;
}

.secure-checkout .woocommerce-invalid textarea,
.secure-checkout .woocommerce-invalid input[type="text"],
.secure-checkout .woocommerce-invalid input[type="password"],
.secure-checkout .woocommerce-invalid input[type="email"],
.secure-checkout .woocommerce-invalid input[type="tel"] {
  border-color: #fc1159;
  -webkit-transition: border-color .4s ease-out;
  transition: border-color .4s ease-out;
}

.secure-checkout .form-row select {
  padding: 16px 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.payment_box .form-row input[type="text"],
.secure-checkout .form-row #billing_address_1,
.secure-checkout .form-row #shipping_address_1 {
  padding: 14px;
}

.payment_box .form-row input[type="text"] {
  background-color: #fff;
}

.payment_box .form-row input::-webkit-input-placeholder {
    color: #fff;
}
.payment_box .form-row input:-moz-placeholder {
   color: #fff;
}
.payment_box .form-row input::-moz-placeholder {
   color: #fff;
}
.payment_box .form-row input:-ms-input-placeholder {
   color: #fff;
}

.secure-checkout .select2-container .select2-choice {
  height: 50px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 14px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5384615385;
  border: solid 1px #dbdbdb;
}

.secure-checkout  .state_select .select2-choice {
  width: calc(100% - 1px);
}

.secure-checkout .select2-drop-active {
  border: 1px solid #dbdbdb;
  border-top: none;
}

.secure-checkout .select2-results .select2-highlighted {
  background: #f7f8f9;
}

.secure-checkout .select2-results {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.secure-checkout .select2-search {
  padding: 0 8px 8px;
}

.secure-checkout .select2-search input {
  display: block;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  background-color: #f7f8f9;
}

.secure-checkout .has-extra-desc {
	display: none;
}

.secure-checkout .clear:before,
.secure-checkout .clear:after {
	content: '';
	display: table;
}

.secure-checkout .clear:after {
	clear: both;
}

.wc-terms-and-conditions,
#place_order {
	display: none;
}

#shipping_method {
  margin: 15px 0 50px;
}

#shipping_method input[type="radio"] {
  display: none;
}

#shipping_method li {
  margin-bottom: -1px;
}

#shipping_method li .amount {
  position: absolute;
  right: 15px;
  top: 15px;
  letter-spacing: .07em;
}

#shipping_method li .amount span {
  margin-right: .15em;
}

#shipping_method .sc-checkbox {
  border-radius: 0;
}

#shipping_method li:first-child .sc-checkbox {
  border-radius: 2px 2px 0 0;
}

#shipping_method li:last-child .sc-checkbox {
  border-radius: 0 0 2px 2px;
}

.wc_payment_methods {
  margin-bottom: 50px;
}

.wc_payment_method {
  margin-bottom: -1px;
}

.wc_payment_method input[name="payment_method"] {
  display: none;
}

.wc_payment_method > label img {
  position: absolute;
  top: 50%;
  right: 15px;
  height: 20px;
  width: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

label[for="payment_method_stripe"],
label[for="payment_method_paypal"] {
  color: transparent;
}

.payment_method_stripe img,
.payment_method_paypal img {
  right: auto;
  left: 46px;
}

.payment_box {
 padding: 21px 25px 5px;
 background-color: #f7f8f9;
 border: solid 1px #dbdbdb;
 border-top: none;
}

.wc_payment_method > label,
.sc-checkbox {
  position: relative;
  display: block;
  padding: 15px 85px 15px 45px;
  line-height: 1.4;
  font-weight: normal;
  border: solid 1px #dbdbdb;
  margin: 0 !important;
  border-radius: 2px 2px 0 0;
  -webkit-user-select: none;
  user-select: none;
}

.sc-checkbox-alt {
  padding: 15px 15px 15px 30px;
  border: none;
}

.sc-checkbox + .sc-checkbox {
  margin: -1px 0 50px !important;
  border-radius: 0 0 2px 2px;
}

.wc_payment_method > label:before,
.sc-checkbox:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 14px;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
}

.wc_payment_method > label:after,
.sc-checkbox:after {
  content: '\e5ca';
  position: absolute;
  top: 14px;
  left: 16px;
  font-family: 'ideaing' !important;
  speak: none;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
  color: #87c880;
}

.sc-checkbox-alt:before {
  left: 0;
}

.sc-checkbox-alt:after {
  left: 2px;
}

.wc_payment_method > label:after,
#shipping_method .sc-checkbox:after,
[for="createaccount"]:after,
.sc-checkbox + .sc-checkbox:after,
.on-add-billing ~ .sc-checkbox:after {
  opacity: 0;
}

.wc_payment_method > input:checked + label:after,
#shipping_method input:checked + .sc-checkbox:after,
#createaccount:checked + [for="createaccount"]:after,
.on-add-billing ~ .sc-checkbox + .sc-checkbox:after {
  opacity: 1;
}

.secure-checkout .create-account + .create-account,
.secure-checkout .shipping_address {
  display: none !important;
  height: auto !important;
  overflow: visible !important;
}

.secure-checkout .on-create-account + .create-account,
.on-add-billing ~ .shipping_address {
  display: block !important;
  -webkit-animation: ideaingfadeIn .4s ease-out;
  animation: ideaingfadeIn .4s ease-out;
}

.blockOverlay {
  /* background-color: rgba(255,255,255,.2) !important; */
}

.wc-checkout-review-order {
  line-height: 2.1538461538;
  margin-bottom: 50px;
}

.wc-checkout-review-order p {
  margin: 0 0 2.1538461538em;
}

.wc-checkout-review-order [data-live] .amount,
.wc-checkout-review-order [data-live]:empty {
  display: none;
}

.wc-checkout-review-order [data-live]:after {
  color: #dbdbdb;
}

.thankyou-page {
  line-height: 2;
}

.thankyou-page h2 {
  position: relative;
  margin: 50px 0 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: .04em;
  border-bottom: solid 1px #dbdbdb;
  text-transform: uppercase;
}

.thankyou-page address {
  line-height: 2;
}

.thankyou-page h3 {
  font-size: inherit;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.addresses {
  margin: 0 -15px 50px;
}

.addresses:before,
.addresses:after {
  content: '';
  display: block;
}

.addresses:after {
  clear: both;
}

.addresses .col-1,
.addresses .col-2 {
  width: 50%;
  padding: 0 15px;
  float: left;
}

table.customer_details,
table.order_details  {
  width: 100%;
  margin: 0 0 50px;
  border: solid 1px #dbdbdb;
}

table.customer_details th,
table.customer_details td,
table.order_details th,
table.order_details td {
  padding: 8px;
  border: solid 1px #dbdbdb;
}

#customer_details .col-2,
.on-2 #sc-login-form,
.on-2 #customer_details .col-1,
#customer_details #order_review,
.on-2.secure-checkout .ideaing-order-summary-widget .on2,
.secure-checkout .ideaing-order-summary-widget [data-alien="woocommerce_checkout_place_order"] {
  display: none;
}

#sc-login-form,
#customer_details .col-1,
.on-2 #customer_details .col-2,
.on-2 #customer_details #order_review,
.secure-checkout .ideaing-order-summary-widget .on2,
.on-2.secure-checkout .ideaing-order-summary-widget [data-alien="woocommerce_checkout_place_order"] {
  display: block;
  -webkit-animation: ideaingfadeIn .4s ease-out;
  animation: ideaingfadeIn .4s ease-out;
}

.bk--to--home {
  margin: 50px 0;
  text-align: right;
}

.global-cart-summary {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.ics--active .global-cart-summary {
  display: block;
}

.global-cart-summary .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s .2s ease-out;
  transition: opacity .2s .2s ease-out;
}

.ics--on .global-cart-summary .overlay {
  opacity: .85;
}

.ics--off .global-cart-summary .overlay {
  opacity: 0;
}

.global-cart-summary aside {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity .4s ease-out, transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity .4s ease-out, transform .4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(2rem);
  transform: translateX(2rem);
}

.ics--on .global-cart-summary aside {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.ics--off .global-cart-summary aside {
  opacity: 0;
}

.global-cart-summary .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.global-cart-summary .bokeh {
  margin: 0;
}

.global-cart-summary header {
  padding: 15px;
  line-height: 23px;
  border-bottom: 1px solid #dbdbdb;
}

.global-cart-summary header button {
  padding: 0 20px 0 0;
  font-size: 20px;
  border: none !important;
  background: transparent !important;
  outline: none !important;
}

.global-cart-summary header strong {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .07em;
}

.global-cart-summary header .u--i {
  padding-right: 45px;
  text-align: right;
}

.global-cart-summary header .u--c {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 0;
}

.global-cart-summary header .u--c span {
  font-size: 20px;
}

.global-cart-summary header .u--c mark {
  position: absolute;
  font-size: 11px;
  top: -0.5em;
  right: -0.5em;
  min-width: 15px;
  padding: 0 4px;
  line-height: 15px;
  border-radius: 1em;
  text-align: center;
  background-color: #fc1159;
  color: #fff;
}

.global-cart-summary header .u--n {
  display: block;
  font-size: 11px;
  letter-spacing: .04em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.global-cart-summary section {
  padding: 15px;
  height: calc(100vh - 250px);
  overflow: auto;
}

.global-cart-summary section .widget-title-alt {
  display: none;
}

.global-cart-summary footer {
  position: absolute;
  padding: 15px 15px 30px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.global-cart-summary footer table {
  width: 100%;
  margin: 0 0 25px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .04em;
}

.global-cart-summary footer th {
  font-size: 12px;
  padding: 5px 5px 5px 0;
}

.global-cart-summary footer td {
  font-size: 11px;
  text-align: right;
  padding: 5px 0 5px 5px;
}

.global-cart-summary footer td strong {
  font-weight: inherit;
}

.global-cart-summary footer .wc-forward {
  display: block;
  margin: 0;
}

.bottom-block {
  height: auto;
}

.bottom-block > *,
.bottom-block #about-button,
.bottom-block #float-bag,
.bottom-block #back-to-top {
  position: relative;
  display: inline-block;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: auto;
  height: 50px;
  padding: 0 20px;
  margin: 0 15px 0 0;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 50px;
  color: #fc1159 !important;
  background-color: rgba(255,255,255,.2);
  z-index: 10;
  box-shadow: 0 10px 40px rgba(0,0,0,.3) !important;
  -webkit-transition: box-shadow .4s ease-out;
  transition: box-shadow .4s ease-out;
  outline: 0 !important;
}

.bottom-block #float-bag,
.bottom-block #back-to-top {
  padding: 0;
  width: 50px;
}

.bottom-block > *:hover,
.bottom-block #about-button:hover,
.bottom-block #float-bag:hover,
.bottom-block #back-to-top:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.5) !important;
}

.bottom-block #about-button {
  padding: 0 20px;
  width: auto;
}

.has-in-cart .bottom-block #float-bag {
  color: #fff !important;
  background-color: #fc1159;
}

.secure-checkout .bottom-block #float-bag {
  display: none;
}

#float-bag i {
  font-size: 20px;
  line-height: 48px;
}

#float-bag .cart-count {
  position: absolute;
  display: none;
  top: -4px;
  right: 0;
  min-width: 18px;
  padding: 3px;
  line-height: 1;
  border-radius: 10px;
  box-shadow: 2px -2px 5px rgba(0,0,0,.1);
  background-color: #fff;
  color: #fc1159;
}

.has-in-cart #float-bag .cart-count {
  display: block;
}

.cart-count:empty {
	display: none !important;
}

a.add-to-bag {
    position: relative;
}

a.add-to-bag:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

a.add-to-bag:after {
    content: "\eb3d";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-family: 'ideaing' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    opacity: 0;
}

a.add-to-bag.loading:before {
    opacity: 1;
}

a.add-to-bag.loading:after {
    -webkit-animation: ideaingfadeIn .8s infinite ease-out;
    animation: ideaingfadeIn .8s infinite ease-out;
}

@-webkit-keyframes ideaingfadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes ideaingfadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media ( min-width: 414px ){

  .sc-nav {
    display: block;
  }

	.global-cart-summary aside {
		width: 414px;
	  border-left: solid 1px #dbdbdb;
		box-shadow: 0 0 20px rgba(0,0,0,.2);
	}
}

@media ( min-width: 768px ){

  .sc-nav > * {
    padding: 0 20px;
    margin: 5px;
  }

  .secure-checkout .entry-header mark.active {
    padding-left: 20px;
  }

  .secure-checkout .entry-header mark.active:before,
  .sc-nav > *.active:before {
    content: '\e5ca';
    position: absolute;
    left: 5px;
    font-family: 'ideaing' !important;
    speak: none;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media ( min-width: 992px ){

  .site-logo svg > path {
    display: initial;
  }

  .secure-checkout .top-nav-holder {
    padding: 10px 0;
  }

  .secure-checkout .entry-title .sc-m--info span {
    display: inline-block;
    margin-left: 25px;
  }

  .secure-checkout .entry-title .sc-m--info span:first-child:after {
    display: none;
  }

  .shop_table.cart .cart_item {
    -webkit-display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 30px 0 0;
    margin: 0;
    line-height: 80px;
  }

  .shop_table.cart tbody tr:first-child {padding-top: 15px;}

  .shop_table.cart .product-remove {
    -webkit-flex: 1;
    flex: 1;
  }

  .shop_table.cart .product-name {
    -webkit-flex: 7;
    flex: 7;
  }

  .shop_table.cart .product-price {
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
  }

  .shop_table.cart .product-quantity {
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
  }

  .shop_table.cart tbody .cart_item td.product-quantity {
    padding-bottom: 5px;
  }

  .shop_table.cart tbody .cart_item td.product-price {
    position: static;
  }

  .shop_table.cart tbody .actions .button,
  .shop_table.cart tbody .actions [type="submit"] {
    display: inline-block;
    width: auto;
  }

  .checkout form.login .form-row:nth-child(2),
  .checkout form.login .form-row:nth-child(3) {
    width: calc( 50% - 15px );
    float: left;
  }

  .checkout form.login .form-row:nth-child(3) {
    margin-left: 30px;
  }

  #billing_first_name_field,
  #billing_first_name_field + .form-row,
  #billing_country_field,
  #billing_country_field + .form-row,
  #shipping_first_name_field,
  #shipping_first_name_field + .form-row {
    width: calc( 50% - 15px );
    float: left;
  }

  #billing_first_name_field + .form-row,
  #billing_country_field + .form-row,
  #shipping_first_name_field + .form-row {
    margin-left: 30px;
  }

  #billing_city_field,
  #billing_city_field + .form-row,
  #billing_city_field + .form-row + .form-row,
  #shipping_city_field,
  #shipping_city_field + .form-row,
  #shipping_city_field + .form-row + .form-row {
    width: calc( 33.3333% - 20px );
    float: left;
  }

  #billing_city_field + .form-row,
  #billing_city_field + .form-row + .form-row,
  #shipping_city_field + .form-row,
  #shipping_city_field + .form-row + .form-row {
    margin-left: 30px;
  }

  #place_order,
  .shop_table.cart tbody .actions {
    display: block;
  }
}
