@charset "UTF-8";

ins.adsbygoogle{
  display: block;
}

.adsbygoogle{

  & > ins{
    display: block !important;
    margin: 0 auto  !important;;
    float: none;
  }
}

.block{
  display: block;
}

.no-padding{
  padding: 0 !important;
}
.padding-5{
  padding: 5px;
}

.padding-10{
  padding: 10px;
}

.padding-20{
  padding: 20px;
}

.padding-40{
  padding: 40px;
}

.left-5{
  margin-left: 5px;
}

.relative{
  position: relative;
}

.modal-backdrop.in{
  opacity: .7;
}
.no-text{
  text-indent: -9999px;
}

.grey-border{
  border: 1px solid #eee;
}


.boxy {
  position: relative;
  background: #fff;
  border: 1px solid #ededed;
}
.boxy:after, .boxy:before {
  bottom: 99.7%;
  left: 94%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.boxy:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.boxy:before {
  border-color: rgba(237, 237, 237, 0);
  border-bottom-color: #ededed;
  border-width: 11px;
  margin-left: -11px;
}

.no-padding{
  padding: 0;
}

.no-border{
  border: 0px !important;
}

.top-40{
    margin-top: 40px;
}
.bottom-40{
    margin-bottom: 40px;
}

.radius-5{
  border-radius: 5px;
}
.radius-15{
  border-radius: 15px;
}

.no-border{
  border:0 !important;
}

.full-wide{
  width: 100%;
}

@media (max-width:480px) {
  .left-padded-xs{
    padding-left: 30px;
  }
}

.turn-left{
  display: inline-block;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}


// LAYOUT

body:not(.single){
  padding-top: 54px;

  // @media(max-width:620px){
  //   padding-top: 87px;
  // }
}


.overhide{
  overflow: hidden;
}

.over-visible{
  overflow: visible;
}

.max-100{
  max-width: 100%;
}

.nofloat{
  float: none !important;
}

.static{
  position: static !important;
}
.absolute{
  position: absolute !important;
}

.hard-show{
  display: block !important;
}

.center-block{
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
}

[data-toggle],
[data-switch]{
  cursor: pointer;
  .up{
      display: none;
  }
  &.active{
      .up{
          display: block;
      }
      .down{
          display: none;
      }
  }
}

.clearfix.pocket{
  height: 50px;
  width: 100%;
  clear: both;
}

.allcaps{
  text-transform: uppercase !important;
}


// ELEMENTS

.hidden-soft,
.hide-soft{ // unlike the BS hidden - no !important
  display: none;
}


.page-overlay{
  display: none;
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity: .6;
  z-index: 42;

  &.picture-overlay{
      display: none ;
    background:url('/assets/images/picture-overlay.jpg');
    opacity: 1;
    z-index: 46;
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


//h6.gift{
//  position: relative;
//  //background: $pale-grey;
//  padding: 15px 20px 15px 40px;
//  text-transform: uppercase;
//  color:#000;
//  background: $pale-grey url("/assets/images/icons/gift.png") 8px center no-repeat;
//
//  &::after{
//    content: 'x';
//    width: 20px;
//    height: 20px;
//    position: absolute;
//    right: 10px;
//    top: 15px;
//  }
//}


@media (max-width: 767px) {
  .shown-xs{
    display: block !important;
  }
}
@media (max-width: 991px) {
  .shown-sm{
    display: block !important;
  }
}

.not-rounded{
  border-radius: 0 !important;
}

.rounded-5{
  border-radius: 5px;
}

.m-icon{
    font-size: 20px;
    float: left;
    margin-top: 0px;
}

.get{
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  overflow: hidden;
  padding: 2px 12px;
  margin: 0 7px  5px;
  border: 2px solid $iridium;
  color: $iridium;
  background: transparent;
  border-radius: 4px;

  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;

  &:hover {
    background: $iridium;
    color: #fff;
  }

  &.solid{
    background: $iridium;
    color: #fff;

    &:hover{
      border: 2px solid $iridium;
      color: $iridium;
      background: transparent;
    }
  }
}
//
//.breadcrumbs{
//  li a{
//    padding-top: 2px !important;
//    padding-bottom: 2px;
//  }
//  li.active{
//    a{
//      font-size: 2.5rem;
//      padding-top: 6px !important;
//      margin-top: 0;
//      box-shadow: none !important;
//    }
//  }
//}

.message {
  width: 400px;
  margin: 0 auto;
  opacity: 0;
  text-align: center;
}
//
//.login-signup-modal a.logo{
//    .m-icon:first-child{
//        display: block;
//    }
//    .m-icon:last-child{
//        display: none;
//    }
//
//    &:hover > .m-icon:first-child{
//        display: none;
//    }
//    &:hover > .m-icon:last-child{
//        display: block;
//    }
//}

//.grid-insert{
//  padding: 45px;
//  margin-top: 45px;
//
//  h4{
//    a{
//      color: $tarmac;
//    }
//  }
//}


//
//.why-us{
//  margin-top: 25px;
//    #hero-arrow{
//        position: absolute;
//        width: 190px;
//        top: -60px;
//        right: -145px;
//        z-index: 39;
//    }
//
//  h2{
//    font-size: 3.5rem;
//    font-weight: normal;
//    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
//  }
//  h2, li{
//    color: #fff;
//  }
//
//  li{
//    padding: 15px 30px;
//    font-weight: bold;
//    letter-spacing: 1px;
//    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
//    position: relative;
//
//    font-size: 1.6rem;
//    .m-icon{
//        position: absolute;
//        left: 0px;
//        top: 50%;
//        margin-top: -10px;
//    }
//  }
//}
//
//.mobile-hero{
//  h2{
//    text-align: center;
//    color: #fff;
//  }
//
//  a.likes{
//    display: block;
//    width: 69px;
//    height: 25px;
//    margin: 0 auto;
//    color: #fff;
//    background: url("/assets/images/heart-red.png") left 3px no-repeat;
//    text-align: right;
//    font-size: 2rem;
//    padding-bottom: 0px;
//  }
//
//}
//
//.mobile-register{
//  position: absolute;
//  width: 100%;
//  bottom:0;
//  left: 0;
//  height: 40px;
//  background: $facebook-blue;
//  padding-top: 9px;
//  padding-bottom: 3px;
//
//  div{
//    width: 60%;
//    min-width: 350px;
//    margin: 0 auto;
//  }
//  a{
//    color: #fff;
//    font-size: 1.7rem;
//
//    &.register-button{
//      border: 1px solid #fff;
//      border-radius: 3px;
//      padding: 3px;
//    }
//
//    &.signup-with-facebook{
//      background: $facebook-blue url("/assets/images/facebook-white.png") left no-repeat;
//      background-size:35px ;
//      padding-left: 40px;
//    }
//  }
//}



//
//.hero-box{
//  padding: 3.5% 5.5%;
//  background-color: rgba(255,255,255,.85);
//
//  h4{
//    font-size: 1.4rem;
//
//    b{
//      font-size: 1.9rem;
//    }
//  }
//
//
//
//
//  input[type="text"]{
//    background: $pale-blue;
//    border: 1px solid #eee;
//    color: #000;
//    box-shadow: none;
//
//    &[name="name"],
//    &[name="password"],
//    &[name="email"]{
//      padding-left: 45px;
//      background-size:20px;
//      background-position: 10px;
//      background-repeat: no-repeat;
//      border-color: $grey;
//    }
//
//  }
//
//
//  ::-webkit-input-placeholder {
//    color: #000;
//  }
//
//  :-moz-placeholder { /* Firefox 18- */
//    color: #000;
//  }
//
//  ::-moz-placeholder {  /* Firefox 19+ */
//    color: #000;
//  }
//
//  :-ms-input-placeholder {
//    color: #000;
//  }
//
//  .btn-success{
//    margin-bottom: 0;
//  }
//  .line-wrap{
//    overflow: hidden;
//    text-align: center;
//    padding: 10px;
//  }
//  .btn-info{
//    background-color: $facebook-blue;
//
//    &:hover{
//      background-color: darken($facebook-blue, 10%);
//      border-color: darken($facebook-blue, 10%);
//    }
//  }
//}





//
//#hero-nav{
//  overflow: visible;
//  float: left;
//  border-top: 1px solid #EFEFEF;
//  ul{
//    overflow: visible;
//
//    .email{
//      display: none;
//    }
//  }
//
//  .like-counter{
//    margin-top: 7px;
//  }
//  .heart-number{
//    top: 23px;
//    position: absolute;
//    right: 12px;
//  }
//
//  li{
//    display: inline-block;
//    position: relative;
//    height: 37px;
//  }
//
//  ul:hover li a:not(.home-link)::after{
//      display: none;
//  }
//  ul:hover li a:not(.home-link):hover::after{
//      display: block;
//  }
//
//  a:not(.author){
//    color: $iridium;
//    text-transform: none;
//    text-align: right;
//    background-size: 25px;
//    background-position: 0 19px;
//    background-repeat: no-repeat;
//    color: $tarmac;
//
//    i{
//        margin-right: 5px;
//    }
//
//
//    &.home-link{
//      background-image: url('/assets/images/house-outline.png');
//
//      &:hover{
//        color: $iridium;
//        background-image: url('/assets/images/house-pink.png');
//        background-position: -18px 10px;
//        background-size: 48px;
//      }
//    }
//    &.all-link{
//      background-position: 0 20px;
//      min-width: 40px;
//
//      .m-icon{
//        color: $iridium;
//      }
//
//      &:hover,
//      .active &{
//        //color: $iridium;
//      }
//    }
//    &.ideas-link{
//      .m-icon{
//        color: $sky-blue;
//      }
//
//      &:hover{
//        //color: $sky-blue;
//      }
//
//    }
//    &.products-link{
//      .m-icon{
//        color: $pine-green;
//      }
//      &:hover{
//        //color: $pine-green;
//      }
//    }
//    &.photos-link{
//      .m-icon{
//        color: $sky-blue;
//      }
//      &:hover{
//        //color: $sky-blue;
//      }
//    }
//    &.stories-link{
//      .m-icon{
//        color: $sky-blue;
//      }
//      &:hover{
//        //color: $sky-blue;
//      }
//    }
//
//
//    &.features-link{
//
//      &:hover{
//        //color: $dark-orange;
//      }
//    }
//    &.specs-link{
//
//      &:hover{
//        //color: $pine-green;
//      }
//    }
//    &.compare-link{
//
//      &:hover{
//        //color: $magenta;
//      }
//    }
//    &.reviews-link{
//
//      &:hover{
//        //color: $iridium;
//      }
//    }
//
//  }
//  li{
//  	&.active{
//      background: #fff;
//
//  	}
//  }
//
//  .main-content-filter{
//      width: 500px !important;
//      text-align: center;
//      float: left;
//      margin-bottom: 55px;
//
//      li{
//        padding: 0 15px 5px;
//          .m-icon{
//            font-size: 24px;
//            font-size: 2rem;
//            margin-top: -2px;
//            margin-right: 5px;
//          }
//          > a{
//              padding-right: 10px;
//              text-transform: uppercase;
//              color: #cac9c9;
//              font-size: 1.1rem;
//
//              &:focus{
//                  text-decoration: none;
//              }
//            @media (max-width: 620px){
//              i{
//          		position: relative;
//          		bottom:4px;
//          	  }
//          	}
//          }
//
//          span{
//      		vertical-align: top;
//          }
//      }
//  }
//
//
//
//}

.load-line{
  width: 100%;
  float: left;
}

.loader-static{
  position: relative;
  margin: 0 auto;
  bottom: 63px;
}

//.homepage #hero-nav{
//  .category-nav{
//    width: 390px;
//    margin: 0 auto;
//    max-width: 100%;
//  }
//}

//.hero-login{
//  width: 100%;
//  overflow: hidden;
//  padding-top: 30px;
//  padding-bottom: 30px;
//  position: relative;
//  z-index: 10;
//
//  .close-login{
//    position: absolute;
//    right: 5%;
//    top: 0;
//    background: transparent;
//    border: 0;
//    outline: 0;
//    padding-left: 10px;
//    padding-right: 10px;
//    z-index: 20;
//    i{
//      color: #fff;
//      font-size: 2.5rem;
//      font-weight: bold;
//      padding-left: 30px;
//    }
//
//  }
//}
//
//.product-box{
//  .merchant-widget{
//    height: 20px;
//    overflow: hidden;
//  }
//  .rating{
//    right: 15px;
//    width: 62px;
//    height: 62px;
//    padding: 9px 17px;
//    border-radius: 50%;
//    font-size: 1.25rem;
//    color: $iridium;
//
//    .icon{
//      font-size: 2.9rem;
//      display: block;
//    }
//    .value{
//      width: 120%;
//      text-align: center;
//      display: block;
//      margin: 0 auto;
//    }
//  }
//}



.alert .close{
    float: right;
}


// Social Stats
.social-stats {
  /*	background: #fff;*/
  padding: 5px 5px 5px 12px;
  width: 72px;

  &__item {
    display: inline-block;
    //position: relative;
    font-size: 14px;
    line-height: 26px;
    //padding-left: 30px;
    margin: 3px 0;

    width: 140px;
    //height: 25px;
    //right: 67px;
  }

  a{
    position: relative;
  }

  &__item .m-icon {
    font-size: 26px;
    //position: absolute;
    margin-right: 4px;
    //left: 0;
    //color: $iridium;
  }


}

// Round tag
.round-tag {
  width: 62px;
  height: 62px;
  background: #ccc;
  text-align: center;
  line-height: 12px;
  color: #fff;
  @include border-radius(62px);

  &--idea {
    background: $sky-blue;

    &.deal{
      background-color: $dark-orange;
    }
  }
  &--product {
    background: $pine-green;
  }

  &__label {
    font-size: 11px;
    display: inline-block;
    width: 100%;
  }

  .m-icon {
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
    float: none;
  }

}

// User widget
.user-widget {
  height: 66px;

  &__img {
    @include border-radius(100px);
    max-width: 55px;
    float: left;
    margin-left: 10px;
  }
  &__name {
    display: inline-block;
    padding: 5px 5px 4px;
    //background: $pine-green;
    color: #fff;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 22px;
    margin-left: 10px;
    line-height: 1;
    font-size: 12px;
  }
}

.merchant-widget {

  line-height: 20px;

  &__price {
    font-weight: bold;
    display: inline-block;
    background: $pine-green;
    color: #fff;
    padding: 0 5px;
  }

  &__store {
    height: 20px;
    display: inline-block;
  }
}

.loader{
  //.cg-busy-animation{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 55;
  //text-indent: -9999px;
  //background:rgba(255,255,255, .6) url('/assets/images/elements/loader-pink.gif') center no-repeat;
  //}

  svg path,
  svg rect{
    fill: $iridium;
  }

  &.loader-fixed{
    position: fixed;
    left: 48%;
    top: 48%;
  }

  &.loader-abs{
    .cg-busy-backdrop{
      position: relative;
      min-height: 300px;
    }
    //.cg-busy-animation{
    position: absolute;
    left: 48%;
    top: 5%;
    //}
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}





