.grid-box{
  overflow: hidden;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 3px;

  &:hover{
    .color-overlay{
      opacity: 1;

    }
  }

  .color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity, .6s;
    background-color: rgba(255,255,255,.7);

    border-radius: 5px;

    h4{
      position: absolute;
      bottom: 70%;
      left: 0%;
      color: $tarmac;
      width: 100%;
      text-align: center;

      a{
        color: #fff;
      }
    }

    ul.prices{
      width: 100%;
      padding-top: 25%;
      text-align: center;

      li{
        display: inline-block;
        width: 100%;
        overflow: hidden;
        padding: 8px 0;
      }

      a{
        color: $tarmac;
      }
    }

    b.price{
      position: absolute;
      right: 5px;
      top: 5px;
      color: #fff;
      font-size: 4rem;
      font-weight: normal;
    }

    .vendor-logo{
      width: auto;
      height: 21px;
    }

    .get{
      position: absolute;
      right: 0px;
      top: 63px;
    }


  }

  .like-wrap{
    width: 150px;
    height: 55px;
    float: left;
    margin-left: 8%;

    a{
      position: static;
      float: left;
    }

    .social-pic{
      width: 55px;
      height: 29px;
      position: static;
      text-align: center;
      padding-left: 40px;
      padding-top: 3px;
      margin-top: 5px;
      margin-right: 17px;

      &.comment{
        left: 56px;
        color: $sky-blue;
        background: url("/assets/images/chat-blue-outline.png") 3px center no-repeat;

        &:hover{
          background: url("/assets/images/chat-blue-solid.png") left center no-repeat;
        }
      }
      &.likes{
        color: $iridium;
        background: url("/assets/images/heart-pink-outline.png")left center no-repeat;

        &:hover{
          background: url("/assets/images/heart-pink-solid.png")left center no-repeat;
        }
      }
    }
  }



  time{
    float: right;
    padding: 10px 15px;
    color: $light-grey;
  }

  &.big-box{
    time{
      padding: 0px;
      float: left;
    }
  }

  .img-wrap .like-wrap{
    width: 92px;
    height: 55px;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom:0;
    border-radius: 20px;
    color: $tarmac;

    .social-pic {
      width: 95px;
      margin: 5px 0 0;
      padding-left: 0;
    }
  }

  &:not(.big-box){
    h3 a{
      font-size: 1.7rem;
    }
  }

  .price{
    font-size: 2rem;
    color: $iridium;
  }

  .img-wrap{
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: border-color .6s;

    & > img{
      min-height: 237px;
      transition: border .6s;

    }

    .get-it{
      right: 8px;
      bottom: 10px;
      text-indent: 0;
      color: #fff;
      white-space: nowrap;
      text-align: center;

      div{
        border-radius: 30px;
        border: 2px solid $iridium;

        &.circle-1{
          width: 44px;
          height: 42px;
          padding: 28% 5% 5% 3%;
          background: $iridium;
          text-transform: uppercase;
          font-size: 1.1rem;
        }

        &.circle-2,
        &.circle-3{
          padding: 3%;
          border-radius: 50%;

        }

        &.circle-2{
          padding: 5%;
        }
        &.circle-3{
          width: 65px;
          height: 62px;
          padding: 5%;
        }
      }

      &.big{
        top: 20px;


        div {
          border-color:$pine-green;

          &.circle-1 {
            width: 80px;
            height: 77px;
            padding: 30px 5px 5px 3px;
            background: $pine-green;
            font-size: 1.1rem;
            border-radius: 50%;
            color: #fff;
          }

          &.circle-2,
          &.circle-3{
            padding: 5%;
          }
          &.circle-3{
            width: 108px;
            height: 106px;
            padding: 5%;
          }
        }
      }
    }

    .featured-badge{
      right: 25px;
      top: -34px;
    }

    .category-tag{
      width: 55px;
      height: 64px;
      left: 2px;
      top: 2px;
      position: absolute;

      &.product{

      }
      &.photo{
      }
    }

    img{
      width: 100%;

      border-radius: 5px;
    }
  }


  h3{
    a{
      color:$tarmac;
    }
  }


  li.box-tag{
    display: inline-block;
    a{
      float: left;
      color: darken($light-grey, 20%);
      padding: 3px;
      margin-top: 8px;
      margin-bottom: 2px;
      border: 1px solid darken($light-grey, 20%);
      border-radius: 2px;
      font-size: 1rem;
      cursor: pointer;

      &:hover{
        color: #fff;
        background-color:  darken($light-grey, 20%);
      }
    }
  }

  &:not(.sidebar-box){
    min-height: 190px;
    border-radius: 5px;
  }

  &.big-box{
    margin-top: 0;
    padding-top: 33px;

    a:not(.big-image-link){
      position: absolute;
      text-indent: -9999px;
    }

    .category-tag{
      width: 150px;
      text-indent: 0 !important;
      text-align: center;
      color: #FF7F00;
      padding-top: 19px;
      padding-left: 52px;
      background-position: 4px center !important;

    }

    .img-wrap{
      overflow: visible;

      .big-image-link img{
        border: 1px solid $pale-grey;
      }

      .like-wrap{
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
        background: rgba(255,255,255, .9);
        border-radius: 0 20px 0 0;
      }
    }

    .like-wrap{
      padding-left:8px;
      padding-top: 9px;
      width: 105px;
      height: 50px;
      bottom: -15px;
    }

    .author{
      position: absolute;
      right: 40px;
      bottom: 10px;
    }

    &:hover{
      .img-wrap{
        border: 1px solid $sky-blue;

        .big-image-link img{
          border: 1px solid $sky-blue;
        }
      }
    }

  }

  &:hover{
    .img-wrap{

      .color-overlay{
        box-shadow: 0 0 0 1px $sky-blue;
      }
    }

    h3 a,
    h5 a
    {
      color: darken($sky-blue, 10%) !important;
    }

  }


  &.sidebar-box:hover{
    .img-wrap {
      overflow: hidden;
      border: 1px solid $sky-blue;
    }
  }

  &.square{
    display: table-cell;
    border-collapse: collapse;
    overflow: visible;
    padding: 0;
    min-height: 380px;
    margin-top: 0;
    border: 0 solid #EFEFEF;
    border-width: 1px 1px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .color-overlay,
    .img-wrap{
      border: 0;
      border-radius: 0;
    }

    img{
      position: absolute;
      width: 100%;
    }

    h4{
      position: relative;
      margin-top: 55%;
      color: #fff;
      background: $dark-orange;
      padding: 10px 7px;
      display: block;
      float: left;
      font-size: 1.6rem;
      a{
        color: #fff;
      }
    }

    .author{
      width: 169px;
      background-position: left;
      position: absolute;
      left: 15px;
      bottom: 0;
      box-shadow: none;
    }

    .category-tag{
      width: 60px;
      height: 60px;
      left: 14px;
      top: 13px;
      text-align: center;
      padding-top: 35px;
      color: #fff;
      border-radius: 50%;
      font-size: 1.1rem;
      z-index: 1;

      &.idea{
        background:$dark-orange url("/assets/images/icons/lamp-white-3.png") center 5px no-repeat;
      }
      &.product{
        background:$pine-green url("/assets/images/icons/bag-white-3.png") center 5px no-repeat;
      }

    }
    .like-wrap{
      width: 86px;
      background: rgba(255,255,255,.9);
      z-index: 1;
      border-radius: 0;
      padding-left: 15px;

      a{
        color: $tarmac !important;

        &.comment{
          background-image: url("/assets/images/icons/chat-red.png");
          background-position: 8px center;
          &:hover{
            background-image: url("/assets/images/icons/chat-red.png");
            background-position: 8px center;
          }

        }
      }

    }
    time{
      font-size: 1rem;
      font-family: montserratlight;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &.product:hover{
      time{
        color: #fff;
        z-index: 1;
      }
    }
    .color-overlay{
      background: rgba(0,0,0,.6);

      h4{
        width: auto;
        position: static;
        margin-top: 35%;
        margin-bottom: 26px;
        text-align: left;
        background: #fff;
        color: #000;
        //font-size: 2rem;
        a{
          color: #000;
        }
      }
      a.box-link{
        color: #fff;
        display: block;
        border-color: $dark-orange;
        text-align: center;
        padding-left: 35px;
        position: absolute;
        left: 30%;
        top: 270px;
        border-radius: 0;

        &:hover{
          background: $dark-orange;
        }
      }

      ul.prices{
        text-align: left;
        padding-left: 5px;
        padding-top: 15%;

        li{
          padding: 0;
          font-size: 1.7rem;
        }
        a{
          color: #fff;
          b{
            display: inline-block;
            background: darken($pine-green, 15%);
            color: #fff;
            padding-left: 3px;
          }
          img{
            margin-left: 5px;
            margin-top: 3px;
          }
        }
      }
    }

    &.idea-box{
      .like-wrap{
        min-height: 87px;;
      }
    }

    &.huge{
      h4{
        margin-top: 20%;
      }
      .color-overlay{
        h4{
          margin-top: 14%;
        }
      }
      .img-wrap{
        overflow: hidden;
        min-height: 380px;
      }

      a.box-link{
        left: 42%;
      }
    }

    a.featured-badge{
      display: block;
      width: 71px;
      height: 165px;
      position: absolute;
      left: -35px;
      top: 64px;
      background: url("/assets/images/elements/featured-badge-vertical-left.png") no-repeat left top;
      text-indent: -9999px;
      z-index: 1;
    }



    &:hover{
      .get-round{
        display: block;
      }

      &.idea-box{
        h4, .author{
          z-index: 1;
        }
        .author{
          text-indent: 0;
          box-shadow: none;
          padding-left: 60px;
          padding-top: 22px;
          text-align: right;
          background-position: left;
          color: #fff;
          font-size: 1.2rem;
          span{
            display: inline-block;
            padding: 5px 5px 2px;
            background: #88C880;
          }
        }


      }

    }

  }
}


.homepage-grid{
  .grid-box-full{
    .box-item{
      @media (min-width:420px) and (max-width:768px){
        margin: 0 3% !important;
      }
    }
  }
  .grid-box-2{
    .box-item{
      @media (min-width:420px) and (max-width:768px){
        width: 45%;
        margin: 0 3% !important;

        &:last-child{
          margin-left: 0 !important;
        }
      }
    }
  }
  .grid-box-3{
    .box-item{
      //&:not(:first-child){
      //  margin-left: 0;
      //}

      @media(min-width: 620px){
        img{
          right: -3%;
        }
      }
      @media (min-width:665px) and (max-width:769px){
        max-height: 245px;
        min-height: 0 !important;
      }
      @media (min-width:420px) and (max-width:665px){
        width: 93%;
        margin-top: 25px;
      }
    }
  }
}

.box-item:not(.slider-box){
  @media(max-width:620px){

    width: 98%;
    margin: 0 auto;
    margin-left: 3px !important;
    &:not(:last-child){
      margin-bottom:4px;
    }
  }

  .img-holder{
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    img{
      position: absolute;
      top:0;
      transition: all .6s;
  }
}
  &:hover,
  &.hovered{
    .idea-meta{
      bottom: 0;
    }
    .img-holder img{
      top:-100px;
    }
  }
}

.box-item {
	position: relative;
	overflow: hidden;

    height: 380px;

  .round-tag__label{
    float: none;
  }
  .box-item__author{
    bottom: 158px;
    right: 14px;
    z-index: 60;

    .user-widget__name{
      opacity: 1 !important;
    }
  }
  .user-widget__img{
    margin-left: 0;
  }
  //.user-widget__img{
  //  float: right;
  //}

  &.product-box{
    .idea-meta{
      bottom: -147px;

      a{
        color: #fff;
      }

    }
  }
  &.hovered,
  &:hover{
    a,
    .box-item__time,
    .views{
      color:#fff !important;
    }
  }
  &:not(:hover):not(.hovered){
    .idea-meta {
      background: #fff;
      color: #999;

    }

  }

    .idea-meta{
      position: absolute;
      bottom: -79px;
      min-height: 115px;
      width: 100%;
      background: $dark-orange;
      z-index: 1;
      padding: 8px 25px 10px;

      transition: all .6s;

      a{
        color: #3d4b4e;
        opacity: 1;
      }

      .in{
        position: relative;
        bottom: 16px;
      }

      .social-stats__item{
        line-height: 14px;

        .m-icon {
          font-size: 14px;
        }
      }

      .m-icon.m-icon--bulb,
      .m-icon.m-icon--shopping-bag-light-green{
        float: none;
        font-size: 1.3rem;
        font-weight: bold;
      }

      .social-stats{
        padding: 0 !important;
        width: 75%;
        margin-top: 6px;
        li{
          padding: 0;
          position: absolute;
          right: 0;
          width: 39px;
          font-weight: 300;
          bottom: 31px;

          //&.views{
          //  bottom: 51px;
          //
          //}
        }

      }

      .box-item__label-idea,
      .box-item__label-product{
        min-height: 50px;
      }


      .box-item__time {
        text-transform: uppercase;
        opacity: .8;
        position: static;
        float: right;
      }
      .views{
        position: absolute;
        right: 49px;
        bottom: 29px;
        //z-index: 9999999;
        color: #757c7d;
        width: 82px;

        @media(max-width: 620px){
          bottom: 29px;
        }
      }
    }
  .box-item__time{
    color: #757c7d;
  }

  .box-item__overlay{
    //background: transparent !important;
    border-radius: 5px;
  }

  > img{
    width: 100%;
    max-width: none;
    min-height: 394px;

  }

	&:hover, &.hover, &.hovered {
		.box-item__overlay,
		.user-widget__name
        {
			@include opacity(.4);
		}
	}
    &.un-hover{
        .box-item__overlay
        {
            @include opacity(0);
        }
    }

    .img-holder{
        height: 100%;
        overflow: hidden;
        width: 100%;
        img{
            height: 100%;
            min-height: auto;
            width: auto;
            max-width: none;
            min-width: 100%;
        }
    }

	&--featured {
        min-height: auto;
        height: 380px !important;
      border-radius: 5px;
	}

	.user-widget__name,
	.merchant-widget,
	&__get-it,
	&__label--clear,
	&__read-more,
	&__overlay {
		@include opacity(0);
		@include transition(opacity .5s ease);
	}

	&__overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		//background: rgba(0, 0, 0, 0.6);
	}
	&__img {
		background-size: cover;
		background-position: center center;
		min-height: 315px;

		@media (min-width: 992px) {
			min-height: 374px;

		}
	}
	&__time {
		font-family: $moseratlight;
		font-size: 10px;
		color: #fff;
		position: absolute;
		bottom: 10px;
		right: 10px;
        z-index: 1;
	}
	&__author {
        float: left;
	}
	&__label {
		display: inline-block;
		font-family: $heading-base-font;
		font-size: 1.7rem;
		//background: $sky-blue;
		color: #fff;
		//padding: 6px 10px;
		float: left;
		text-align: left;
		margin-bottom: 10px;

      //.deal &{
      //  background-color: #FF7F00;
      //}

		&:hover, &:active, &:focus {
			color: #fff;
		}

		//&--clear {
		//	background: $iridium;
		//	color: #fff;
        //
		//	//&:hover, &:active, &:focus {
		//	//	color: $pink;
		//	//}
		//}
	}
	&__read-more {
		color: #ccc;
		display: block;
		text-align: center;
		border-radius: 0;
		padding: 3px 0;
		width: 140px;
		border: 2px solid $sky-blue;
		margin: 0 auto;

		&:hover, &:active, &:focus {
			background: $sky-blue;
			color: #fff;
		}

      .deal &{
        border: 2px solid $dark-orange;

        &:hover, &:active, &:focus {
          background: $dark-orange;
        }
      }
	}
	&__get-it {
		display: block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		background: $iridium;
		font-size: 11px;
		text-align: center;
		color: #fff;
		margin: 20px auto 0;

		@include border-radius(60px);
		@include transition(all .5s ease);

		&:hover, &:active, &:focus {
			color: #fff;
			background: $pinterest-red;
		}
	}
	&__label-idea {
		//position: absolute;
		//top: 39%;
		//left: 0;
		//right: 0;
		text-align: center;

		@media (min-width: 992px) {
			top: 58%;
		}
	}
	&__label-prod {
		//position: absolute;
		//top: 39%;
		//left: 0;
		//right: 0;
		text-align: center;

		.merchant-widget {
			float: left;
			margin-left: 10px;
			color: #fff;
		}

		@media (min-width: 992px) {
			top: 40%;

		}

	}
	.social-stats.comment{
		position: absolute;
		right: 60px;
		//bottom: 20px;
	}
	.round-tag {
		//position: absolute;
		//top: 10px;
		//left: 10px;
	}
}

.main-content > div .box-item{
    border-top: 0px;
}



.main-content .box-item{
  float: left;
  margin-left: 2.2%;
  margin-right: 2.2%;

  @media(min-width: 1024px){
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0 !important;
    }
  }

  @media(max-width: 1025px){
    margin-left: 2%;
  }
  @media(max-width: 990px){
    margin-right: 0.2%;
  }
  @media(max-width: 769px){
    margin-left: 3%;
  }
  @media(max-width: 620px){
    width: 97% !important;
  }
  //margin-bottom: 5px;
}

.main-content .grid-box-3 {

	.box-item{
		width: auto;
		min-height: 315px;
        bottom: 0px;
        border-radius: 4px;
        //margin: 8px 4px 0;
        //margin-left: 4px;


		@media (max-width: 620px) {
            width: 97%;
		}

		@media (max-width: 768px) {
          float: left;
            border: 1px solid #eee;
			border-top: 0px;
            width: 27.5%;
		}

		@media (min-width: 769px) {
            display: block;
			float: left;
            width: 30.4%;
		}

		//@media (max-width: 1024px) {
         //   width: 29.8%;
		//}


	}
}

.grid-wrap{
  overflow: hidden;
  padding-top: 25px;

  //@media(min-width: 1100px){
  //  padding-left: 3.5%;
  //}
  @media(max-width: 1100px){
    padding-left: 4px;
  }

  @media(max-width: 620px){
    padding-top: 0;

    .box-item{
      margin-top: 25px;
      margin-left: 6px !important;
      margin-left: 5px !important;
      max-width: 97%;
    }
  }

  //@media(max-width: 768px) and (min-width: 620px){
  //  .box-item{
  //    left:4px;
  //  }
  //}
}

.homepage-grid .main-content .grid-wrap{
  visibility: hidden;
  overflow: hidden;

  @media(max-width: 620px){
    visibility: visible !important;
    display: block;
    -webkit-animation: none !important;
    animation: none !important;
  }



  .box-item:first-child,
  .box-item:last-child{
    top: 0;

    @media(min-width: 620px){
      top: 100px;
      transition: all, 1s;
    }
  }

  &.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;

    .box-item:first-child,
    .box-item:last-child{
      top: 0;
    }
  }

  @-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
  }
}

.main-content:first-child .grid-wrap.visible{
  opacity: 1 !important;
  visibility: visible !important;
  animation: none !important;

  .box-item:first-child,
  .box-item:last-child{
    top: 0;
  }
}

.grid-box-full {
	.box-item {
		width: 99.8%;
		height: auto;
		border-top: 0 none;
        //margin: 2px 4px 0;

        .img-holder{
          border-radius: 4px;
        }

      @media(max-width: 990px){
        width: 95.2%;
      }
      @media(max-width: 768px){
        width: 92.8%;
      }
      @media(max-width: 620px){
        width: 97%;
      }
    }
}
.grid-box-2 {
	.box-item {
		width: 47.9%;
		border-top: 0 none;
        margin-right: 4.2%;
        //margin: 8px 4px;
        float: left;
        border-radius: 5px;

      &:last-child{
        margin-left: 0;
      }

      @media(max-width: 1024px){
        width: 47.6%;
      }
      @media(max-width: 990px){
        width: 45.6%;
        margin-right: 3.9%;

        &:last-child{
          margin-right:0;
        }
      }

      .img-holder{
          border-radius: 4px;
        img{
          height: 150%;
        }
      }
    }
}

.main-content{
  &[data-only="ideas"]{
    .box-item:not(.idea-box){
      display: none;
    }
  }
  &[data-only="products"]{
    .box-item:not(.product-box){
      display: none;
    }
  }
  &[data-only="photos"]{
    .box-item:not(.photo-box){
      display: none;
    }
  }
}


.box-item.product-box{
  .mobile-show{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: #fff;
    display: block;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 35;
    .p-close{
      display: none;
    }
  }
  @media (min-width: 1600px) {
    .mobile-show{
      display: none;
    }

  }
  @media (max-width: 1600px) {
    .mobile-show{
      display: inline-block;
    }
  }

}



