
.comment-edit-container{
  div[contenteditable=true]{
    padding: 4px;
    height: 100%;
    min-height: inherit;
    &:before{
      color: #a9a9a9;
      content: "Write a comment";
    }
    &:focus:before{
      display: none;
    }
  }
  &.has-content{
    div[contenteditable=true]{
      &:before{
        display: none;
      }
    }
  }
  .ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    border: 1px solid #e6e6e6;
    color: black;
  }

}


#comments{
  //margin: 5px;
  .profile-photo{
    width: 44px;
    height: 44px;
  }
}