

.share-bar{
  width: 100px;
  position: absolute;
  right: 1%;
  left: auto;
  top: 700px;
  text-align: center;
  //border: 1px solid #eee;
  padding: 4px;

  @media(max-width: 620px){
    border: 0;

  }

  &.stick{
    position: fixed;
    top: 120px;
    z-index: 1;
  }

  li {
    margin-bottom: 8px;
  }

}


ul.share-buttons{
  height: 45px;
  a{
    @include round-box;

    &.fb {
      @include color-round-box($facebook-blue-2, "/assets/images/fb-white-small.png");
    }
    &.twi {
      @include color-round-box($facebook-blue, "/assets/images/twi-white-small.png");

    }
    &.gp {
      @include color-round-box($iridium, "/assets/images/gp-white-small.png");

    }
    &.email {
      @include color-round-box(#c1c1c1, "/assets/images/email-white-small.png");
      border-width: 0;
      background-position: 5px 8px;
    }
    &.pint {
      @include color-round-box($pinterest-red, "/assets/images/pint-white-small.png");

    }

    &.heart {
      @include color-round-box($iridium, "");

      background-size: 19px;
    }

    .m-icon--heart-solid{
      margin-left: 0px;
      margin-right: 7px;
    }

    &.comment {
      @include color-round-box($ideaing-blue, "/assets/images/icons/chat-white-outline.png");
      background-size: 19px;
    }
  }

  &.squares{
    a{
      width: 94%;
      border-radius: 5px;

      i{
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

.horizontal-sharing{
  width: 100%;
  padding: 8px 5px 0;

  ul.share-buttons{
    .all-shares{
      float: left;
    }
    .gp{
      display: none;
    }
    .email{
      display: inline-block !important;

      i.m-icon{
        background: #fff;
        color:#333;
      }
    }
    a{
      float: left;
      width: 35px;
      margin-left: 7%;
      margin-top: 15px;
      border: 0;

      @media(max-width:410px){
        margin-left: 2%;

      }

      .share-count{
        display: none;
      }
    }
  }

}

.hero-sharing{
  ul{
    width: 320px;
    margin: 0 auto;

    li a{
      margin-left: 3% !important;
    }
  }
}

.mobile-sharing{
  position: fixed;
  top: 0;
  background:rgba(#ededed, .9);
  z-index: 30;

  padding: 22px 5px;

  overflow: hidden;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;
  //text-align:center;
  line-height:160px;

  .all-shares{
    display: none;
  }

  h5{
    float: left;
    text-align: center;
    font-style: italic;
    font-size: 1.7rem;
    font-weight: 200;

    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  &.shrink {
    padding: 5px;
    line-height:80px;
  }

  &.shrink h5
  {
    font-family: montserratlight;
    font-size:1.3rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.product-details{
  .sticky-anchor{
    position: absolute;
    top: -60px;
  }
  .share-bar:not(.stick){
    top: 80px;
  }
}


li.all-shares{
  width: 90px;
  height: 50px !important;
  text-align: center;
  color: #c1c1c1;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.1rem;
  //margin-top: -5px;
  text-align: center;
  padding-right: 9px;

  b{
    display: block;
    height: 20px;
    font-size: 3rem;
  }
}

@media (max-width: 1670px){
  .share-bar{
    right: 1%;
    left: auto;
  }
}

@media (max-width: 768px){
  .share-bar{
    top: 618px;
  }

}

@media (max-width: 1095px){
  body.single{
    .share-bar{
      display: none;
    }
  }

}

@media (max-width: 620px){
  .share-bar{
    position: static !important;
    width: 100%;
    float: none;
    overflow: hidden;

    ul{
      width: 100%;

      li{
        width: 100px;
        float: left;
        margin-left: 1.4%;
      }
    }

  }

  .ideas-sharing {
    display: none;

    a.email{
      display: inline-block !important;
    }
    .share-bar.sticks-on-scroll {
      position: fixed !important;
      z-index: 1;
      bottom: -12px;
      top: auto;

      ul{
        width: 84%;
        max-width: 85%;
        float: none;
        margin: 0 auto;
      }

      .share-count{
        display: none;
      }

      .all-shares{
        .share-count{
          display: block;
        }
      }

      li{
        width: 34px;
        overflow: hidden;
        margin-left: 15px;
        padding: 0;

        &.all-shares{
          width: 56px;
        }
        a{
          width: auto !important;
          border: 0 !important;
          background: transparent !important;
        }
      }

    }
  }

}