<FilesMatch "\.(ico|svg|woff|eot|ttf)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

<FilesMatch "\.(jpg|png|gif)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>


<IfModule mod_deflate.c>
       	AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
       	<IfModule mod_setenvif.c>
       		BrowserMatch ^Mozilla/4 gzip-only-text/html
       		BrowserMatch ^Mozilla/4.0[678] no-gzip
       		BrowserMatch bMSIE !no-gzip !gzip-only-text/html
       	</IfModule>
    </IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ /index.php/$1 [L]
    #RewriteRule ^ index.php [L]

    # custom attribute for JWT
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>


RedirectMatch 301 ^/ideas/([0-9]{2})/([0-9]{2})/(?!page/)(.+)$ https://ideaing.com/ideas/$3