.black{
  color:#000;
}

.pink{
  color: $iridium !important;
}
.pink-bg{
  background-color: $iridium !important;
}

.orange{
  color: $dark-orange !important;
}
.green{
  color: $pine-green !important;
}
.green-bg{
  background-color: $pine-green !important;
}
.blue{
  color: $sky-blue !important;
}

.dark-blue{
  color: $facebook-blue;
}

.red{
  color: $pinterest-red;
}

.grey{
  color: darken($light-grey, 30%);
}
.black{
  color:#000 !important;
}
.light-grey{
  color: $light-grey;
}

.purple{
  color: $magenta;
}

.heavy-purple{
  color: $purple;
}

.white{
  color: #fff;
}

.white-bg{
  background: #fff;
}

.purple-bg{
  background-color: $magenta;
}

.heavy-purple-bg{
  background-color: $purple;
}


.black-bg{
  background: #000;
}
.pale-grey-bg{
  background: #f7f7f7;
}

.pale-grey-border{
  border:1px solid darken($pale-grey, 10%);
}


.opaque{
  opacity: .4 !important;
}

.opaque-hover{
  opacity: 0 !important;

  &:hover{
    opacity: .4 !important;
  }
}


// CATEGORY COLORS

@mixin category-color($color) {
  .category-color{
    color: $color !important;
  }
  .category-bg{
    background-color: $color !important;
  }
  .category-bg-trans{
    background-color: rgba($color, .7) !important;
  }
  .category-hover-color:hover{
    color: $color !important;;
  }
  .category-hover-bg:hover{
    background-color: $color !important;;
  }
  .category-hover-border:hover{
    border-color:$color;
  }

  .dropcapped{
    p:first-child{
      &:first-letter {
        color: $color;
      }
    }
  }
  .float-thumbs .thumb-box strong{
    background-color: rgba($color, .7);
  }
  .home-subheader span,
  .m-icon--ScrollingHeaderHeart .path1:before,
  .m-icon--ScrollingHeaderHeart .path2:before{
    color: $color;
  }

  .home-subheader span{
    color: $color;
    border-color:$color !important;
  }

  .input__field--minoru{
    color: $color;
    box-shadow: 0px 0px 0px 0px $color;
  }

  .input__field--minoru:focus {
    box-shadow: 0px 0px 0px 2px $color;
  }

}

.category-smart-home,
.category-smarthome{
  @include category-color($iridium);
  .category-link__smart-home{
    color: $iridium;
  }

  //&.popular-section .box-item::before{
  //
  //}
}
.box-item:hover,
.box-item.hovered{
  .category-smart-home,
  .category-smarthome{
    .idea-meta{
      background: $iridium;
    }
  }
}

.category-smart-travel{
  @include category-color($dark-orange);
  .category-link__smart-travel{
    color: $dark-orange;
  }

}
.box-item:hover,
.box-item.hovered{
  .category-smart-travel{
    .idea-meta{
      background: $dark-orange;
    }
  }
}

.category-smart-body{
  @include category-color($facebook-blue);
  .category-link__smart-body{
    color: $facebook-blue;
  }

}
.box-item:hover,
.box-item.hovered{
  .category-smart-body{
    .idea-meta{
      background: $facebook-blue;
    }
  }
}

.category-smart-entertainment{
  @include category-color($pine-green);
  .category-link__smart-entertainment{
    color: $pine-green;
  }
}
.box-item:hover,
.box-item.hovered{
  .category-smart-entertainment{
    .idea-meta{
      background: $pine-green;
    }
  }
}

.box-item:hover,
.box-item.hovered{
  .category-deals{
    .idea-meta{
      background: #68005c;
    }
  }
}

.category-smarthome,
.category-smart-home,
.tag-smart-home{
  .category-link__smart-home{
    span{
      color: $iridium;
    }
    &>span::before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .home-subheader.switcher {
    .swing-lined > div::before {
      background: $iridium;
    }
  }
}
.category-smart-entertainment,
.tag-smart-entertainment{
  .category-link__smart-entertainment{
    span{
      color: $pine-green;
    }
    &>span::before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .home-subheader.switcher {
    .swing-lined > div::before {
      background: $pine-green;
    }
  }
}
.category-smart-travel,
.tag-smart-travel{
  .category-link__smart-travel{
    span{
      color: $dark-orange;
    }
    &>span::before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .home-subheader.switcher {
    .swing-lined > div::before {
      background: $dark-orange;
    }
  }
}
.category-smart-body,
.tag-smart-body{
  .category-link__smart-body{
    span{
      color: $facebook-blue;
    }
    &>span::before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .home-subheader.switcher {
    .swing-lined > div::before {
      background: $facebook-blue;
    }
  }
}

.forum{
  .category-link__advice{
    &>span::before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}


.category-link{
  cursor: pointer;

  &__smart-home{
    &.active,
    &:hover,
    .m-icon{
      color: $iridium;
    }
    span::before{
      background-color: $iridium;
    }
  }
  &__smart-travel{
    &.active,
    &:hover,
    .m-icon{
      color: $dark-orange;
    }
    span::before{
      background-color: $dark-orange;
    }
  }
  &__smart-body{
    &.active,
    &:hover,
    .m-icon{
      color: $sky-blue;
    }
    span::before{
      background-color: $sky-blue;
    }
  }
  &__smart-entertainment{
    &.active,
    &:hover,
    .m-icon{
      color: $pine-green;
    }
    span::before{
      background-color: $pine-green;
    }
  }
  &__deals{
    &.active,
    &:hover,
    .m-icon{
      color: $purple;
    }
    span::before{
      background-color: $purple;
    }
  }
  &__shop,
  &__advice{
    .m-icon{
      color: #777;
      transition: .3s color;
    }

    &:hover{
      .m-icon {
        color: #222;
      }
    }

    span::before{
      background-color: #242424;
    }
  }

}

h5{
  &.category-link__smart-home{
    span{
      color: $iridium;
    }
  }
  &.category-link__smart-body{
    span{
      color: $sky-blue;
    }
  }
  &.category-link__smart-entertainment{
    span{
      color: $pine-green;
    }
  }
  &.category-link__smart-travel{
    span{
      color: $dark-orange;
    }
  }
}

//.blue-glow{  // unused
//  -webkit-stroke-width: 5.3px;
//  -webkit-stroke-color: #1ABCF5;
//  -webkit-fill-color: #1ABCF5;
//  text-shadow: 1px 0px 8px #1ABCF5;
//  -webkit-transition: width 0.3s; /*Safari & Chrome*/
//  transition: width 0.3s;
//  -moz-transition: width 0.3s; /* Firefox 4 */
//  -o-transition: width 0.3s; /* Opera */
//}

.greyscale{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}