// VENDOR STYLE
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// FONTS

@font-face {
	font-family: 'montserratlight';
	src: url('/assets/fonts/montserrat-light-webfont.eot');
	src: url('/assets/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
	url('/assets/fonts/montserrat-light-webfont.woff') format('woff'),
	url('/assets/fonts/montserrat-light-webfont.ttf') format('truetype'),
	url('/assets/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratregular';
	src: url('/assets/fonts/montserrat-regular-webfont.eot');
	src: url('/assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
	url('/assets/fonts/montserrat-regular-webfont.woff') format('woff'),
	url('/assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
	url('/assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratbold';
	src: url('/assets/fonts/montserrat-bold-webfont.eot');
	src: url('/assets/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
	url('/assets/fonts/montserrat-bold-webfont.woff') format('woff'),
	url('/assets/fonts/montserrat-bold-webfont.ttf') format('truetype'),
	url('/assets/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratblack';
	src: url('/assets/fonts/montserrat-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'digital-7';
  src: url('/assets/fonts/digital-7/Digital-7.eot');
  src: url('/assets/fonts/digital-7/Digital-7.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/digital-7/Digital-7.woff') format('woff'),
  url('/assets/fonts/digital-7/Digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
