/* forms base */


// custom checkboxes
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	border: 2px solid $light-grey;
	border-radius: 5px;
	cursor:pointer;
	transition: border-color .5s, backgroun-image .5s;

}
input[type="checkbox"]:checked + label span {
	background:url('/assets/images/checkmark-black.png') center no-repeat !important;
	border-color: darken($light-grey, 25%);
}

.form-control{
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control,
.btn{
  height: 45px;
}

.ta-hidden-input{
  display: none;
}

form{
  input,
  .btn{
    margin-bottom: 20px;
  }
}

.email-input-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  .m-icon{
    position: absolute;
    z-index: 9;
    left: 10px;
    top: 12px;
  }
  //input:not([type="submit"]){
  //  padding-left: 40px !important;
  //}
}

.boxy-label{
  position: relative;
  border:1px solid #ccc;
  border-radius:5px;

  label{
    margin-top: 0;
    padding-top: 12px !important;
    padding-left: 10px;
    background: #eee;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    i{
      /* margin-left: -2px; */
      position: relative;
      right: 5px;
      bottom: 2px;
      padding: 2px;
      background: $facebook-blue-2;
      color: #fff;
      border-radius: 2px;

      &.m-icon--twitter-id{
        background: $sky-blue;
      }
    }
  }
  input{
    border:0;
  }
}
