/* links base */

a {
	text-decoration: none;
	color: $link-color;
	@include transition(color .25s);
	&:hover {
		text-decoration: none;

		/*color: $link-hover-color;*/
	}
}

a:hover, a:focus{
  color: inherit;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}


// BUTTONS

button{
  -webkit-appearance: none !important;
  -moz-appearance:    none !important;
  appearance:         none !important;

  &.close{
    background: transparent;
    border: 0;
  }
}

.btn-success{
  background-color: $iridium;
  border-color: $iridium;

  &:hover{
    background-color: darken($iridium, 10%);
    border-color: darken($iridium, 10%);
  }
}
.btn-info{
  background-color: $sky-blue;
  border-color: $sky-blue;

  &:hover{
    background-color: darken($sky-blue, 10%);
    border-color: darken($sky-blue, 10%);
  }

  &.facebook-bg{
    background-color: $facebook-blue-2;

    &:hover{
      background-color: darken($facebook-blue-2, 10%);
      border-color: darken($facebook-blue-2, 10%);
    }
  }

  &.green-bg{
    &:hover{
      background-color: darken($pine-green, 10%) !important;
      border-color: darken($pine-green, 10%) !important;
    }
  }
}

.btn-white{
  background: #fff;
  border: 1px solid $light-grey;
  color: $light-grey;
  font-size: 1.2rem;
  width: 90px;

  &.like{
    background: url("/assets/images/like-white.png") center no-repeat;
  }

  &:hover{
    border-color: darken($light-grey, 15%);
  }
}

.btn-none{
  background: transparent;
  text-align: center;
  padding: 20px;
  color: darken($light-grey, 20%);
  width: 100%;
}

.close-button{
  color: #333;
  font-size: 2rem;
  float: right;
  cursor: pointer;
}

.close-down{
  width: 30px;
  height: 30px;
  background: #4b484b url("/assets/images/arrow-down-white.png") center no-repeat;
  background-size: 23px;
  border-radius: 90px;
  border: 0;
  padding: 5px;

}

.sortby{
  position: relative;
  padding: 15px 20px 15px 80px;
  background: $iridium;
  color: rgba(255,255,255, .8);
  margin: 50px 0 30px;

  ::before{
    content: 'SORT BY:';
    color: #fff;
    position: absolute;
    left: 10px;
    top: 15px;
  }

  ::after{
    content: ' ';
    width: 20px;
    height: 20px;
    background: url("/assets/images/arrow-up-black.png") center no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}


a{ // Custom Link Styles

  &.author{
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url("/assets/images/dummies/author.png") center no-repeat;
    //border: 2px solid #fff;
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 40px;
    text-indent: -9999px;
  }


  &.like-counter{
    @include round-box();
    @include color-round-box($iridium, "");
  }

  &.ideas-link{
    color: $dark-orange;
  }

  &.products-link{
    color: $pine-green;
  }

  &.photos-link{
    color: $sky-blue;
  }

  &.featured-badge{
    width: 121px;
    height: 59px;
    background: url("/assets/images/featured-badge-pink.png")left center no-repeat;
  }

  &.icon-link{
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px !important;
  }


  &.kitchen-link{
    background-image: url('/assets/images/pot-outline-pink.png');
  }

  &.all-link {
    background-size: 30px;
    background-position: left 4px;
    min-width: 200px;
  }



  &.filter-link{
    font-size: 2rem;
    color: #000;
    background-image: url("/assets/images/menu-black.png");
    margin-top: 8px;
    padding-top: 20px;
    background-size: 25px;
    padding-top: 11px !important;
    background-size: 18px !important;
  }


  // social buttons

  &.fb{
    background-color: $facebook-blue-2;
  }
  &.twi{
    background-color: $twitter-blue;
  }
  &.gp{
    background-color: $google-red;
  }
  &.pint{
    background-color: $pinterest-red;
  }
  &.inst{
    background-color: $instagram-blue;
  }




  &.email{
    background-color: $light-grey;
    background-image: url("/assets/images/email-white-small.png");
    background-repeat: no-repeat;
  }
  &.heart{
    background-image: url("/assets/images/heart-red.png");
    background-size: 19px;
    background-repeat: no-repeat;

  }
  &.comment{
    background-image: url("/assets/images/chat-blue-outline.png");
    background-size: 19px;
    background-repeat: no-repeat;
  }

  &.get-round{
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    clear: left;
    padding-top: 23px;
    //margin-top: -10px;

    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    color: #fff;
    background: $iridium;

    &:hover{
      background: darken($iridium, 10%);
      color: #fff;
    }
  }


}

a.box-link{
  padding: 3px 4px;
  margin: 12px 6px;
  color: #fff;
  font-size: 12px;
  /*    border: 2px solid $dark-orange;*/
  border-radius: 4px;
  text-align: center;

}
