body{
  font-family: $moseratlight ; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-base-font;
	margin-top: 10px;
}

/* text base */
p {
	line-height: $base-line-height;
}

.lightfont{
  font-family: $moseratlight;
}

.dropcapped{
  p:first-child{
    &:first-letter{
      //color: $sky-blue;
      font-size: 5rem;
      line-height: .7;
      float: left;
      display: inline-block;
      //margin-top: -36px;
    }
  }
}