/* Configs */

// Layout Colors
$base-background-color : #fff;

// Font Colors
$base-font-color       : #111;
$secondary-font-color  : #ccc;
$link-color            : #333;
$link-hover-color      : #0074D9;
$link-active-color     : #0074D9;


// COLORS
$iridium:         #FC1159;
$light-orange:    #F15C29;
$dark-orange:     #FF7F00;
$pine-green:      #89C981;
$pine-green-border: #BCB946;
$sky-blue:        #00B1FF;
$pale-blue:       #F5FBFC;
$picton:          #4691d3;
$pale-grey:       #F2F5F5;
$light-grey:      #ededed;
$tarmac:          #3D4B4E;
$magenta:         #9E009E;
$purple:          #94489A;

$facebook-blue:   #079DD1;
$facebook-blue-2: #5C7CBD;
$twitter-blue:    #7BD1F0;
$google-red:      #EF434D;
$pinterest-red:   #E61D25;
$instagram-blue:  #54A3DA;

$ideaing-blue:    #4791D4;
$grey:            #999999;
$border-grey:     #EFEFEF;
$pink:		      #ed2049;
$light-pink:      #f6d3cf;

$smart-home:       #ff0042;
$smart-home-light: #ffe5ec;
$travel:           #59bdd7;
$travel-light:     #eef8fb;
$wearables:        #c6c646;
$wearables-light:  #f9f9ec;
$home-decor:       #ffaa00;
$home-decor-light: #f9cc66;

// Font Family
$base-font         : 'montserratregular';
$secondary-font    : sans-serif;
$heading-base-font : 'montserratregular', sans-serif;
$moseratlight 	   : 'montserratlight', sans-serif;


// Font Sizes
$base-font-size    :  16px;
$base-line-height  :  1.6;