/* Border-Box (http:/paulirish.com/2012/box-sizing-border-box-ftw) */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	height: auto;
    height: 100%;
    overflow-x: hidden;
}

body {
	position: relative;
	background: $base-background-color;
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	-webkit-text-size-adjust: 100%;
	color: $base-font-color;
    overflow-x: hidden;

}

html.hide-overflow{
  overflow: hidden;
}


