
// RESPONSIVE BEHAVIOUR

@media only screen and (max-width: 1200px){

  .mid-nav{

    a {
      padding-left: 8px;
      padding-right: 8px;

      &.more-link {
        background-size: contain !important;
      }


    }
    > a:hover{
      background-size: contain !important;
    }
  }

  .why-us {
    margin-top: 0;
  }

  .story-header h1 {
    font-size: 13px;
    margin-bottom: 5px;
  }



  @media (min-width:768px){

    footer.about-footer{
      input[type="submit"]{
        border-radius: 4px;
        margin: 5px auto;
      }
    }

  }

  #hero-nav{
    & > .container{
      padding-left: 0;
    }
  }

  @media (min-width: 480px){
    .slider-side-block{
      padding: 0px;

      .top{
        height: auto;
      }
      .vendor-logo, .get{
        margin: 10px auto;
        display: block;
      }
      .price{
        padding-left: 0;
      }
    }
  }

  .idea-stories .story-details{
    .author-overview {
      padding-top: 6%;
    }
  }

  .grid-box.square{
    min-height: 300px;
  }

  .grid-box.square{
    a.featured-badge {
      top: 219px;
    }
    ul.prices{
      position: relative;
      top: -20px;
      padding-top: 7% !important;
      a{
        font-size: 1.3rem;
      }
    }
    h4{
      margin-top: 39%;
    }
    .img-wrap .category-tag.idea {
      background-size: 24px !important;
    }
  }

  .grid-box.square .category-tag.get-round {
    top: 200px;
  }

  .grid-box.square .color-overlay a.box-link {
    left: 22%;
    top: 185px;
  }
  .grid-box.square.huge .color-overlay a.box-link {
    left: 42%;
    top: 170px;
  }
}

@media only screen and (max-width: 992px){

  .shop-menu{
    padding-left: 10px;
    padding-right: 10px;
  }

  .why-us h2 {
    font-size: 3.3rem;
  }

  .bottom-load-more{
    margin-top: 65px;
  }

  .full-sm{
    width: 100%;
    padding: 0;
  }

  .get{
    margin-bottom: 0;
  }

  article.post{
    padding-left: 20px;
    padding-right: 20px;
  }

}


@media only screen and (max-width: 992px) and (min-width: 620px){

  #hero-nav {
    li.active{
      a {
        &.home-link{
          background-position: -19px 11px;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px){

  .get-it.author{
    display: none;
  }

  #mobile-side-filters{
    padding-left: 0;
    div:not(#idea-filter),
    h5{
      display: none;
    }
  }


  .mid-nav{

    .extra-nav {
      right: 20%;
    }
  }

  footer.about-footer h4 {
    margin-top: 35px;
  }

  .mid-nav .container{
    border-top: 0px;
  }


}


@media only screen and (max-width: 620px){
  .popular-new{
    float: none !important;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    a.box-link{
      padding: 8px 12px;
    }
  }

  header.colophon .logo-wrap{
    position: static;
  }


  .hidden-620{
    display: none !important;
  }

  .shown-620{
    display: block !important;
  }

  .full-620{
    width: 100%;
    padding: 0;
  }

  .grid-box.square.huge:hover .color-overlay a.box-link {
    left: 25%;
  }

  #top-nav{
    position: relative;
    z-index: 40;
    background: #fff;

    .mobile-wrap{
      width: 259px;
      float: right;

    }

    .mobile-category-menu{
      text-indent: -9999px;
      width: 117px;
      margin-top: 9px;
      padding-right: 0 !important;
      margin-left: 22px;
      li{
        a{
          width: 27px;
          height: 24px;
          float: left;
          padding: 0;
          margin-left: 10px;
          margin-right: 0;
          margin-top: 4px;
          background-size: initial !important;
        }
      }
    }

    .logo-wrap{
      width: 195px;
      margin-left: 0;
    }

    .search-bar{
      //display: block;
      //opacity: 1;
      //margin: 0;
      //margin-top: 3px;
      //
      //width:72%;
      //left: 44px;
      //top: 45px;
      //padding-top: 4px;
      //
      //background: transparent;
      //border: 0;
      //padding-left: 20px;

      a{
        display: block !important;
        height: 40px;
        width: 40px;
        margin: 0;
        margin-right: 30px;
        padding: 0;
      }
      //input{
      //  width:80%;
      //  left:40px;
      //  top: 60px;
      //}

    }

    a.signin{
      padding-right: 10px !important;
      padding-left: 5px !important;

      top: 9px;
      position: relative;

      i{
        display: none;
      }
    }
    .category-menu {
      margin-left: 25px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 9px;

      ul{
        //overflow: visible;
        //margin-left: 7%;

        a{
          font-size: 1rem !important;
        }
      }

      .search-toggle-button{
        display: none;
      }
    }
  }


  .main-content.landing{
    padding: 0 0 20px;
  }

  article.product .article-content{
    padding-left: 0;
  }

  .mid-nav, .extra-nav {
    margin-bottom: 15px;
  }

  #hero{
    .hero-background{
      -webkit-filter: none;
      background-size: 100%;
      top: 51px;
    }

    & > .container{
      padding-top: 0;
    }

    &.details-hero{
      min-height: 400px;
      h1 {
        font-size: 2rem;

        a.like-counter span {
          margin-top: -5px;
        }
      }
    }
  }

  #hero-nav{

    .category-nav {
      width: 100%;
      .home-link{
        min-width: 24px;
        text-align: center;
      }

    }

    &.product-nav{
      .category-nav{
        width: 475px;
      }
    }

    li{
      height: 50px;
    }

    li.active a::after {
      right: 27% !important;
    }


    a:not(.box-link){

      background-size: 30px;
      font-size: 1.3rem;

      &.home-link{
        display: none;
      }

      &:not(.home-link) {
        background-position: center 13px !important;
        text-align: center;
      }
      &.products-link{
        background-position: 56px 13px !important;
      }

    }
    .category-nav.main-content-filter > li > a{
      padding-right: 0px;
      min-width: inherit;
      font-size: 10px;
      i{
        font-size: 18px;
      }
    }

    &.product-nav{
      ul{
        padding-left: 0;
        width: 100% !important;

        a{
          background-position: center 15px !important;
          padding-right: 0px;
          i{
            margin-right: 5px;
            margin-top: -3px;
          }
        }
      }
    }

  }

  .idea-stories  header.story-details{
    padding-top: 20px !important;
    padding-bottom: 7px;

    .hero-sharing{
      padding-top: 20px;

      a{
        width: 45px;
      }

    }

  }
  .heart-item{
    .social-stats__item{
      width: 50px !important;
    }
  }

  .post.type-post {
    .share-bar .all-shares{
      float: none;
      margin: 0 auto;
    }
  }

  .grid-box{
    margin-top: 30px;

    h3
    {
      padding-left: 20px;
    }
    b.price{
      padding-left: 20px;
    }

    .img-wrap{
      border-radius: 0;
      border: 1px solid #eee !important;
      border-bottom: 1px solid #eee !important;

      &:hover{

      }
      img{
        border-radius: 0 !important;
        border-bottom: 1px solid #eee;
        min-height: 0;
      }
    }

    &.big-box{
      time{
        padding-left: 20px;
      }
    }



  }

  .grid-box .img-wrap .get-it:not(.big),
  .grid-box .img-wrap a.author{
    right: 45%;
    bottom: 3px;
  }

  .extra-nav {
    top: 49px;
    right: 8%;
  }

  .why-us{
    text-align: center;
    >ul{
      text-align: left;
      padding-left: 10%;
    }
    li{
      background-position: 10px 15px !important;
    }
    .btn{
      margin: 0 auto;
      display: block;
      float: none;
    }
  }



  .latest-heading {
    padding-top: 10px;
  }

  .bottom-load-more{
    width: 95%;
    margin-left: 3%;
  }

  .like-wrap {
    margin-left: 30%;
  }

  .idea-stories .story-details{
    .content-tags{
      margin-bottom: 0;
    }
  }

  #hero .average-score{
    float: none !important;
  }
  #hero .average-score-title{
    text-align: center;
  }

  .average-score{
    width: 90%;
    height: 70px;
    float: none;
    margin: 10px auto;
    padding-top: 0;
    overflow: hidden;
    background-position: 10px 11px;

    .score{
      width: 60%;
      float: left;
      padding-top: 6px;

    }
    .caption{
      width: 37%;
      height: 100%;
      padding-top: 27px;
      margin-top: 0;
      float: right;
      border-top: 0;
      border-left: 1px solid #fff;
    }
  }

  #hero.product-hero{
    padding-bottom: 0;

    .table{
      margin-bottom: 0;
    }

    #gallery{
      max-width: 100%;

      .rsImg.rsMainSlideImage{
        max-width: 100%;
      }
    }
  }

  .top-product-controls {
    float: none;
    overflow: hidden;
    width: 340px;
    margin: 15px auto;
  }

  .slider-side-block{
    position: static;
    width: 100%;
  }

  .comparison .arrow{
    display: none;
  }

  .idea-stories .story-details{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #myModal.modal {
    top: 34%;
  }

  #myModal.login-signup-modal.modal {
    top: 0px;
  }

  .modal-intro{
    margin-bottom: 20px !important;

    a.logo, p{
      margin-bottom: 0 !important;
    }
  }



}


@media screen and (max-width: 480px){

  .full-480{
    width: 100%;
    padding: 0;
  }

  #hero{
    min-height: 450px;

    .why-us{
      h2{
        font-size: 2.8rem;
      }
      li{
        padding-left: 25px;
        padding-right: 10px;
        font-size: 1.5rem;
      }
    }

  }

  #top-nav .search-bar a{
    width: 30px;
  }

  .story-details{
    .author-image-big{
      max-width: 100px;
      float: left;
    }
    .author-overview{
      padding-top: 0 !important;
      float: left;
      width: 30%;
    }

    .content-tags{
      padding-right: 30px;
      a{
        display: block;
        width: 105px;
        margin: 5px auto;
        float: none !important;
      }
    }
    .social-stats__item {
      padding-left: 2% !important;
    }

  }

  .product-hero{
    .average-score{
      .score{
        width: 53%;
      }
      .caption{
        width: 47%;
      }
    }
    #gallery{
      height: 500px !important;
      overflow: hidden !important;

      .rsImg.rsMainSlideImage,
      .rsContainer,
      .rsOverflow,
      .rsSlide {
        width: 100% !important;
        height: auto !important;
        min-height: 300px;
        margin-left: 0 !important;
      }
      .rsVideoContainer{
        .rsImg.rsMainSlideImage{
          min-height: 0;
        }
      }
      .rsOverflow {
        height: auto !important;
        min-height: 405px;
      }

      .rsImg.rsMainSlideImage{
        width: 90% !important;
        margin-left: 5% !important;

      }

      .rsArrow{
        &.rsArrowLeft{
          left: 5%;
        }
        &.rsArrowRight{
          right: 5%;
        }
      }

      .rsThumbsArrow {
        top: 15%;

        &.rsThumbsArrowLeft{
          left: 0;
          background-image: url("/assets/images/arrow-left-pink.png");

        }
        &.rsThumbsArrowRight{
          left: 90%;
          background-image: url("/assets/images/arrow-right-pink.png");
        }
      }

      .rsThumbs,
      .rsThumbsContainer{
        width: 100%;
        overflow: hidden;
        height: 150px;

        .rsNavItem{
          float: left;
          width: 80px !important;
          height: auto !important;
          margin: 0;
          display: block;

          img{
            height: 80px !important;
          }
        }
      }
    }
  }

  article.product .article-content{
    margin-top: 0;
  }

  .comments h4{
    margin-bottom: 30px;
  }

  .single-comment{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    .comment-author{
      width: 65px;
      padding: 0;
    }

    a.author {
      width: 49px;
      height: 50px;
    }

    .col-sm-8.col-xs-7{
      width: 80%;
      p, .comment-name{

        font-size: 1.5rem;
      }
    }

    .btn-white{
      float: right;
    }

    .field-wrap{
      width: 80%;

      textarea{
        min-height: 67px !important;
      }

      .btn{
        float: right;
      }


    }
  }




  .grid-box{
    &:hover .img-wrap {
      border: 2px solid $sky-blue;
      box-shadow: 0 0 0 0 #fff;
    }

    .img-wrap{
      .category-tag{
        background-size: 38px !important;

        &.product{
          background-size: 29px !important;
        }
      }
    }

    p{
      padding-left: 10px;
    }
  }

  .grid-box.big-box {
    .category-tag {
      padding-left: 38px;
      background-position: 11px center !important;
    }
  }



  #top-nav{
    .logo-wrap{
      width: 120px;
      padding-left: 12px;
      margin-left: 0;
    }

    .mobile-wrap{
      width: 250px;
      float: right;
    }

    a {
      margin-left: 0;

      &.ideaing-logo{
        width: 100px;
        text-indent: 0;
        margin-top: -7px;
        margin: 0 auto;
        display: block;
        float: none;

        .m-icon{
          //display: none;
          font-size: 38px;
        }

        .m-icon.scroll-logo{
          display: block;
        }
      }
    }
  }


  .mid-nav{
    a {
      .right-menu-arrow{
        font-size: 1.7rem;
      }
      &.more-link{
        padding-left: 5%;
      }
    }
  }



  #hero-nav{
    li.active a::after {
      right: 8% !important;
    }
  }

  .logo-wrap{
    padding: 0;
  }


  .colphon .search-bar{
    padding-top: 0;

    input{
      display: none;
    }

    #hero-nav{
      &.all-link{
        background-position: 4px top;
      }
    }
  }




  .ideaing-logo {
    &.top-logo{
      margin-top: 10px;
    }
  }

  header.colophon .search-bar input {
    min-width: 125px;
  }

  .signin{
    margin-right: 0;
  }

  .author-image{
    margin: 0 auto;
    display: block;
    float: none;
  }

  .share-bar {
    position: static !important;
    width: 100%;
    float: none;
    overflow: hidden;
    padding-top: 3%;
  }

}


@media screen and (max-width: 380px) {
  #top-nav{
    //.mobile-category-menu {
    //  margin-left: 8px;
    //}

    .mobile-wrap {
      width: 225px;
      float: right;
    }

    .search-bar{
      a {
        margin-right: 0;
      }
    }
  }

  //header.colophon #top-nav .category-menu {
  //  margin-left: 0;
  //}


  #hero-nav{
    a {
    }
    .container{
      padding-left: 0;
    }
  }


}

@media screen and (max-width: 370px) {

  #top-nav{

    .mobile-wrap{
      width: 170px;
    }
  }

  #hero-nav{
    padding-left: 0;
  }

}

@media (max-width: 620px){
  .reviews-medium-container .average-score .caption{
    padding-top: 17px;
  }
}
@media (max-width: 767px){
  .reviews-medium-container{
    width: 300px;
  }
  .reviews-medium-container .reviews-service-holder .title{
    font-size: 12px;
  }
  .reviews-medium-container .reviews-service-holder .value{
    font-size: 30px;
  }
  .reviews-service-holder.amazon .amazon-value{
    font-size: 15px;
  }
  .reviews-medium-container .average-score{
    float: none;
    margin: auto;
  }
  .star-rating{
    margin-top: 0px;
    text-align: center;
  }
  #top-nav{
    .box-link-active-line{
      display: none;
    }

    .mobile-menu{
      width: 80%;
      //display: block !important;
      position: absolute;
      z-index: 99;
      top: 60px;
      background: #fff;
      padding: 0 40px 40px 0;
      border-top: 6px solid #f3f3f3;

      a{
        text-indent: 0;
        width: 100%;
        padding: 15px 0 15px 40px;

        &:not(.rooms-link){
          font-size: 1.7rem;
          border-bottom: 1px solid #eee;
          padding-left: 80px;
          background-position: 40px center;
          background-size: 25px;
          background-repeat: no-repeat;
        }

        &.products-link{
          background-size: 20px;
          background-position: 45px center;
        }

        &.rooms-link{
          color: $tarmac;
        }

      }

      .nested{
        ul{
          float: left;
          a{
            font-size: inherit;
            border: 0;
            color: $light-grey;
            padding: 15px 0 15px 40px;


            &::after{
              display: none;
            }
          }
        }
      }
    }
  }

}
@media (max-width: 992px){
  .reviews-service-holder .outer-line .line-label{
    font-size: 11px;
    color: #272727;
    top: -21px;
    left: 0px;
  }
  .reviews-service-holder .outer-line .line-value{
    top: -27px;
    right: 0px;
    font-size: 16px;
  }
  #hero-arrow{
    display: none;
  }

}