@charset "UTF-8";


body.category{
  #hero {
    min-height: 382px;
    margin-top: 5px;
  }
  .rsThumbs{
    display: none;
  }
}


.mostpop-wrap{ 
  // background:blue;
  @media(max-width: 980px){
    .container{
      //width: 100%;
      //max-width: none;
      margin-left: 1%;
    }
  }
}


.most-popular-new{
  .category-smart-home{
    .box-item,
    .popular-wrap.single-thumb{
      &::before{
        border:1px solid $iridium !important;
        color: $iridium;
      }
    }
  }
  .category-smart-body{
    .box-item,
    .popular-wrap.single-thumb{
      &::before{
        border:1px solid $facebook-blue !important;
        color: $facebook-blue;
      }
    }
  }
  .category-smart-entertainment{
    .box-item,
    .popular-wrap.single-thumb{
      &::before{
        border:1px solid $pine-green !important;
        color: $pine-green;
      }
    }
  }
  .category-smart-travel{
    .box-item,
    .popular-wrap.single-thumb{
      &::before{
        border:1px solid $dark-orange !important;
        color: $dark-orange;
      }
    }
  }
}

.category-default{
  .most-popular-new{
    .popular-title{
      padding-bottom: 10px;
    }
  }
}

.app-wrap:not(.category-default){
.most-popular-new{
  .popular-title{
    .category-color{
      display: none;
    }
  }
}
}

.most-popular-new{

  h5{
    text-align: center;
    margin-bottom: 15px;

    @media(min-width: 768px){
      margin-bottom: 25px;
      margin-top: -52px;
    }


    i{
      top: 2px;
      position: relative;
      float: none;
    }

  }

  .box-item{
    float: left;
    width: 65%;
    height: auto;
    overflow: visible;

    &::before{
      content:'1';
      position: absolute;
      padding: 2px 10px;
      top: -7px;
      left: -4px;
      border-radius: 14px;
      border:1px solid $iridium;
      background: #f7f7f7;
      padding: 2px 10px;
      color: #000;
      z-index: 9;
    }

    img{
      border-radius: 5px;
    }
  }
  .popular-wrap{
    width: 32%;
    float: left;

    @media (max-width: 767px) and (min-width: 620px) {
      width: 60% !important;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    &.single-thumb{
      width: 100%;
      min-height: 275px;
      border-radius: 5px;

      .box-item__label{
        //position: absolute;
        //bottom: 0;
        font-size: 1.5rem;
        //text-align: center;
        //width: 100%;
        //height: 100%;
        //z-index: 1;
        //padding:4px 4px 7px;
        //margin-bottom: 0;

        //
        //background: -moz-linear-gradient(top,  rgba(114,114,114,0) 35%, rgba(114,114,114,0) 36%, rgba(114,114,114,0.81) 100%); /* FF3.6-15 */
        //background: -webkit-linear-gradient(top,  rgba(114,114,114,0) 35%,rgba(114,114,114,0) 36%,rgba(114,114,114,0.81) 100%); /* Chrome10-25,Safari5.1-6 */
        //background: linear-gradient(to bottom,  rgba(114,114,114,0) 35%,rgba(114,114,114,0) 36%,rgba(114,114,114,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00727272', endColorstr='#cf727272',GradientType=0 ); /* IE6-9 */

        span{
          position: absolute;
          bottom: 2px;
          left:0;
          width: 100%;
        }
      }

      &::before{
        counter-increment: popular-box;
        content: counter(popular-box);
        font-weight: 700;
        position: absolute;
        left: -8px;
        top: -7px;
        background: #f7f7f7;
        //background: #FF0042;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        padding: 2px 8px;
        z-index: 50;
      }

      .box-item{
        height: 215px !important;
        overflow:hidden;

        .box-item__overlay{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        // &.product-box{
        //   .popular-title{
            
        //   }
        // }

        &::before{
          display: none;
        }
      }

      .popular-title{
        font-size: 1.3rem;
        background: #fff;
        min-height: 51px;
        position: relative;
        padding-top: 10px;
        min-height: 90px;
        border-bottom-right-radius:5px;
        border-bottom-left-radius:5px;
      }
      .views{
        right: 0;
        bottom: 0;
        width: 30px;

        .m-icon{
          font-size: 1.4rem;
          top: 3px;
          position: relative;

        }
      }
    }

    .box-item{
      width: 100%;
      height: auto;
      border-bottom: 1px solid #eee;
      border-radius: 0;

      //&.product-box{
      //  img{
      //    max-width: 100%;
      //  }
      //}

      &::before{
        content:'2';
        padding: 2px 10px;
        background: $iridium;
        color: #fff;
      }
      &:last-child{
        &::before{
          content:'3';
        }
      }
    }

  }


}

@media(max-width:620px){
  .mostpop-wrap{
    padding:0 !important;
  }
  .popular-wrap{ 
    max-height: 88px;
    min-height: 0 !important;
  }
  .popular-section{
    margin-top: 7px;
  }
  .home-subheader{
      &.current-timespan{
        width: 97.1%;
        margin-left: 7px;
      }

      &.trending{
      //max-width: 180px;
      top: 40px;
      left:4px;

      .m-icon {
        bottom: 2px;
        //right: -14px;
      }
    }

    .unread-heading{
      font-size: 1.5rem;
      padding-top: 7px;
    }
  }
  
  .switcher{
    float:right;
    max-width: 207px !important;
    margin-right: 6px !important;
  }
  
  .most-popular-new{
    .popular-section{
      height: 90px;
      padding: 0 2%;

      .box-item{
        width: 30%;
        height: 100%;
        margin-left: 0 !important;


        img {
          max-width: 88px;
          max-height: 88px;
          height: 100%;
        }
      }
      .popular-title{
        width: 65%;
        padding-left:0;
        padding-top: 9px !important;
        background: 0 0 !important; 
      }
    } 
  }
}

.mostpop-wrap{
  padding: 10px 6px 10px 0px;


  .homepage-grid{
    margin-top:0;
  }
}

.most-popular-new{
  counter-reset: popular-box;


  .home-subheader{
    height: 41px;

    @media(max-width: 768px){
      width: 100%;
      float: left;
    }

    span{
      height: 41px;
    }
  }
}