.giveaway-icon{
  position: absolute;
  top: 8px;
  font-size: 5rem;
}

body.giveaway-page{

  &.logged-in{
    .hero-box{
      display: none;
    }
  }

  @media (max-width: 620px){
    ul.share-buttons{
      height: auto;
      width: 100%;
      padding: 0;

      .social-stats__item{
        left: 40px;
        bottom: 20px;
      }
      .all-shares{
        width: 155px;
      }
      a{
        width: 61px;
      }
    }
  }



  #hero{

    overflow: hidden;

    .giveaway-timer{
      max-width: 450px;
      padding: 10px 25px 0;
      font-weight: bold;
      font-size: 2rem;
      color: #fff;
      text-align: right;
      font-weight: 700;

      span{
        font-family: 'digital-7';
      }

      @media (max-width:620px){
        width: 100%;
        text-align: center;

        .final-countdown{
          max-width: 251px;
          display: block;
          margin: 0 auto;
          float: none;
        }
      }
    }
  }
  @media (max-width:450px){
    #hero-bg {
      background-position-x: -400px;
    }
  }
  #hero-arrow{
    position: absolute;
    left: -182px;
    width: 250px;
    bottom: 0;
  }
  .social-stats__item{
    margin-right: 10px;
  }
  &.expired{
    #hero-bg{
      -webkit-filter: grayscale(100%) !important;
      filter: grayscale(100%) !important;

      &::after{
        content: 'ENDED';
        color: $iridium !important;
        font-size: 5rem;
        display: block;
        position: absolute;
        top: 10%;
        left: 10%;
      }
    }
  }
  .comments h4{
    margin-top: 35px;
  }
  .hero-box{
    position: relative;
    top: 110px;
    padding: 50px;
    z-index: 10;
    outline: 2px solid #eee;

    @media (max-width: 992px){
      top: 10px;
    }

    .line-wrap{
      font-weight: bold;
      text-decoration: underline;
    }

    input{
      &[name=email],
      &[placeholder="Email"]
      {
        padding-left: 40px;
      }
    }

  }
  .share-buttons{
    width: 85%;
  }

  .btn-success{
    text-transform: uppercase;
    padding-top: 13px;
  }
  .giveaway-content{
    padding-top: 30px;

    .giveaway_desc{
      a{
        color: $facebook-blue;
        &:hover{
          color: $iridium;
        }
      }
    }

    p,
    .giveaway_desc,
    .giveaway-toc{
      font-size: 1.8rem;
    }
    ul.giveaway-signup,
    .login-switcher{
      font-size: 1.7rem;
    }

    h2{
      font-size: 2.5rem;
    }
  }
  ul.pointed{
    padding-bottom: 20px;
    text-align:left;
  }
  .login-switcher{
    margin-bottom:10px;
  }
  .giveaway-toc{
    padding-top: 10px;
    border: 1px solid #eee;
    text-align: center;
  }
  .toggle-toc{
    padding-bottom: 10px;
    display: block;
    font-size: 1.2rem;
  }
  .toc-content{
    overflow: scroll;
    max-height: 600px;
  }
  .share-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .all-shares{
    top: -20px;
  }
  .social-stats__item{
    position: relative;
    bottom: 10px;
  }
  .giveaway-banner{
    background: rgba($iridium, 0.7);
    position: relative;
    bottom: 0;
    top: 10px;
    padding-top: 0;
    padding-bottom: 10px;

    .container{
      min-height: 0  !important;
      padding-top: 0 !important;
    }

    h3, h1{
      color: #fff;
      float: left;
    }

    h3{
      display: block;
      width: 202px;
      height: 59px;
      text-indent: -9999px;
      background: url(/assets/images/giveaway.svg) no-repeat;
      background-size: 220px;
      background-position: 0px -110px;
    }
    h1{
      padding-left: 5%;
      padding-top: 15px;
      text-transform: uppercase;
      font-size: 3rem !important;
    }

  }

  .morecontent span {
    display: none;
  }
  .morelink {
    display: block;
    color: $iridium;
  }

  .sign-in{
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;

    h5{
      font-size: 3.5rem;

      @media (min-width: 992px){
        padding-top: 25px;
      }
      @media (max-width: 460px){
        span{
          display: block;
        }
      }
    }
    span{
      color: $iridium;
    }
    .line-wrap{
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .container-fluid{
    overflow: hidden;
  }
  .black-slider{
    min-height: 227px;
    width: 100%;
    float: left;

    .rsOverflow{
      width: 100% !important;
      .rsSlide{
        margin-left: 80px !important;
        min-width: 150px;
      }

    }

    @include pseudo-full-wide(#000);
    top: 40px;

    .rsContainer{
      width: 120px;
      height: 180px;
    }

    .rsOverflow{
      padding-left: 4.5%;
    }

    .rsOverflow,
    .rsVisibleNearbyWrap{
      min-height: 170px;
    }

    .giveaway-logo{
      float: left;
      margin-top: 20px;
      max-width: 285px;
    }
    .thumb-wrap{
      float: left;
      color: #fff;
      text-align: center;
      padding-left: 8px;

      img{
        display: block;
        width: 200px;
        height: 100px;
        min-height: 100px;
      }
    }
    h6{
      color: #fff;
    }
    .rsArrow{
      color: #fff;

      &.rsArrowRight{
        right: 0;
      }
    }

    @media (max-width:620px){
      width: 110% !important;
      max-height: 280px;
      padding-left: 0!important;
      padding-right: 0!important;
      margin: 0 -10px;

      .rsArrow{
        top: 32%;
        position: absolute;
      }
    }

  }
}


#giveaway-popup{
  background: rgba($iridium, .8);
  position: fixed;
  min-height: 150px;
  bottom:0;
  z-index: 99;
  text-align: center;
  padding: 15px;

  h4{
    font-size: 2rem;
  }
  h5{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  img{
    width: 250px;
    float: none;
    border: 1px solid #000;
    padding: 0;
  }

  a.btn{
    background-color: darken($iridium, 15%);
    border-color: darken($iridium, 15%);
  }

  .close-button{
    top: 35px;
    font-size: 2rem;

    i{
      font-weight: bold;
    }
  }
}

.giveaway_desc ol li{
  list-style: decimal !important;
}
