body.home{
  #hero-slider{
    .rsNav.rsBullets{
       top: -30px;
    } 
  }
}
body.home.logged-in{
  
  #hero {
    min-height: 480px;
  }
}


.product-box{
  .box-item__label-prod{
    position: absolute;
    left: -380px;
    max-width: 100%;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  &.hovered,
  &:hover{
    .box-item__label-prod{
      display: block;
      opacity: 1;
      position: absolute;
      left: 0;
    }
  }

}

.homepage-grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 335px;
    overflow: hidden;
    margin-top: 25px;

    &.main-grid{
      min-height:1000px;
    }

   .wrap{
     min-height: 300px;
   }

	@media (max-width: 767px) {
		padding: 0 0;
	}


}

#hero-bg,
#mobile-hero-bg{
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

#mobile-hero-bg{
  background-size: contain;
}

#hero-slider{
  max-width: 1170px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;

  //.homepage &{
  //  padding-top: 50px;
  //}

  .product-box{
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .box-item__author{
    position: relative;
    margin: 0 auto;
    width: 193px;
    top: -75px
  }
  .box-item__label{
    float: none;
  }

  .box-item .img-holder img{
    width: 1176px;
    max-width: 100%;
  }

  .box-item .img-holder img{
    max-width: none;
  }




 .rsNav.rsBullets{
    padding-top: 0;
    top: -20px;
    z-index: 40;
    }

  & + .color-overlay{
    background-color:rgba(0,0,0,.4);
    z-index: 30;
    }

  .rsOverflow{
    z-index: 38;
    margin-top:4px;
  }




  @media(max-width:500px){

 .rsNav.rsBullets{
    padding-top: 0;
      top: -56px;
  }

    .rsArrow{
      top: 61%;
    }

    .rsSlide:not(.rsActiveSlide)  {
      display: none;
    }


  }

}
//body.homepage:not(.logged-in){
//  #hero-slider{
//    //.rsOverflow{
//    //   margin-top:30px;
//    //}
//    .rsNav.rsBullets{
//       top: -34px;
//
//        @media (max-width:620px){
//          top: -62px;
//       }
//
//    }
//  }
//
//}
.blur-overlay{
  background-image: url('https://d234pm57oy3062.cloudfront.net/homehero/11/homehero-image-56f8ffa2244c6-landing-hero-3.jpg');
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
//.idea-stories .color-overlay{
//  margin-top: -21px;
//}



.homepage-grid{
  transition: opacity 1s;

  &.latest{
    padding-top: 20px;
  }

  .main-content{
    padding:0 0 7px 0;

    @media(max-width: 990px){
      width: 98%;
      max-width: none;
    }
  }
}


.center-wrap{
  padding: 0 12px;
}

.unread-count{
  display: block;
  width: 100%;
  padding: 18px 0;
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 2rem;

}
.homepage-grid.hidden{
  opacity:0;
}


.bottom-load-more{
  margin-top: 62px;
  margin-bottom: 45px;

}

.side-filters{
  padding: 10px 30px 20px;
  margin-top: 30px;
  overflow: hidden;

  div:not(:first-child){
    margin-top: 25px;
    border-top: 1px solid $light-grey;
    padding-top: 9px;
  }

  h5{
    color: lighten($tarmac, 10%);
  }

  input[type="checkbox"]{
    margin-right: 5px;
  }

  label{
    display: block;
    width: 100%;
    color: lighten($tarmac, 10%);
  }

  .btn-success{
    margin-top: 40px;
  }


}

#show-mobile-filters{
  float: none;
  margin: 20px auto 0;
}

#mobile-side-filters{
  display: none;
  padding-top: 0;
  padding-right: 0;

  div{
    border: 0;
  }
}


.mobile-filter-switch{
  padding-top: 0;
  li{
    padding-top: 15px;
    padding-bottom: 15px;

    float: left;
    padding-left: 20px;

    &:not(.active){
      background-color: #f9fcfc;
    }
  }

}


#mobile-side-filters{
  div{
    margin-top: 20px;
  }
}

.sidebar-category{
  margin-top: 40px;

  h4{
    font-size: 1.8rem;
    margin-bottom: 0;
    text-align: center;
  }

  &.products{
    h4{
      color: $pine-green;
    }
  }

  &.ideas{
    h4{
      color: $dark-orange;
    }
  }

  &.photos{
    h4{
      color: $sky-blue;
    }
  }

}

.sidebar-box{
  overflow: visible;
  position: relative;
  margin-top: 0;
  h5{
    font-size: 1.6rem;
    margin-bottom: 0;

    a{
      color: $tarmac;
    }
  }
  ul{
    height: 25px;
    margin-bottom: 0;
  }
  .img-wrap{
    overflow: visible;
    & > img{
      min-height: 0;
    }
  }
  li.box-tag{
    a{
      display: inline;
      font-size: 1.5rem;
      border: 0;
    }
  }
  //.img-wrap{
  .number{
    position: absolute;
    top: 12px;
    left: -7px;
    z-index: 1;
    text-indent: 0;
    padding: 2px 10px;
    border-radius: 20px;
    background: $pine-green;
    color: #fff;
  }

  .photos &{
    a.number {
      background: $sky-blue;
    }
  }
  .ideas &{
    a.number {
      background: $dark-orange;
    }
  }


  .sidebar-social-counter{
    padding-left: 25px;
    background: rgba(255, 255, 255, 0.9) url("/assets/images/heart-grey.png") 5px 10px no-repeat;
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
    position: absolute;
    width: 60px;
    height: 30px;
    text-indent: 0;
    color: $tarmac;
    padding: 7px 0 4px 30px;
    border-radius:  15px 0 0 0 ;
    text-indent: 0 !important;
  }
}

.btn-outline{
  width: 80px;
  padding: 13px;
  font-size: 1.5rem;
  background: #fff;
  color: $iridium;
  border-color: $iridium !important;
  box-shadow: none !important;

  &:hover, &:active, &:focus{
    background:$iridium;
    color: #fff;
  }
}

  @media(min-width: 620px) and (max-width: 1024px){
    .heading-wrap{
      width: 97%;
      max-width:1200px;
    }
}

.home-subheader{
  width: 97%;
  height: 40px;
  margin-top: 11px;
  margin-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-size: 2.3rem;
  border-bottom: 2px solid #eee; 
  font-family: Montserratlight;

  &.current-timespan{
    margin-bottom: 24px;
    width: 100%;

    @media(max-width:620px){
      margin-right: 6px !important;
    }
  }
  &.trending{
    width: 100%;
    text-align: left;
    padding-right: 30px;
    height: 20px;
    position: relative;
    top: 40px;
    margin-left: 0;
    padding-bottom: 33px;
    display: block;
    //border-bottom: 2px solid #eee;


    @media(max-width: 769px){
      width: 101%;

    }


    @media(max-width: 620px){
      padding-right: 25px;
      width: 97.5%;

    }


    margin-left: 0;


    @media(min-width: 620px){
      font-size: 1.6em;
    }

    .m-icon{
      padding: 0;
      bottom: 3px;
      right: 0;
    }
  }
  &.switcher{
    max-width: 250px;
    height: 32px;
    margin-top: -5px;

    .swing-lined>div::before{
      height: 2px;
      background: #000;
    }

    .category-color{
      &:not(.active){
        color: #000 !important;
      }
    }

    div{
      width: 50%;
      float: left;
      display: inline-block;
      height: 33px;
      font-size: 1.5rem;
      text-align: center;
      div{
        height: 33px;
        width: 100%;
      }
    }
  }

  span{
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: -1px;
    display: inline-block;
    height: 40px;
  }

  .m-icon{
    font-size: 2.8rem;
    padding-top: 2px;

    &.m-icon--flame{
      position: relative;
      // right: 1px;
    }
  }

  .unread-heading{
    float: right;
    padding-top: 12px;
    font-size: 1.7rem;
    font-style: normal;
  }
}

.popular-section{
  margin-top: 30px;
  padding-left: 0;

  padding-right: 2%;


  &:last-child{
    padding-right: 0;
  }
}

.homepage{
  #hero{
    min-height: 383px;
  }
  .color-overlay{
    position: absolute;
    min-height: 1200px;
    width: 100%;
    background-size: cover;
    top: 0;
    z-index: 0;
  }
  .home-hero-slider{
    margin-top: 5px;
    height: auto !important;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 0 !important;
    overflow: hidden;
    z-index: 1;
    &:hover{
      .color-overlay{
        opacity: 1;
      }
    }
    .color-overlay{
      opacity: 0;
    }

    .rsOverflow{
      margin-top: 0 !important;
      overflow: hidden !important;
    }

    .img-holder{
      height: 100%;
      background: #000;
      &> img{
        opacity: .7;
        height: auto !important;
      }
    }
    .box-item__author{
      display: none;
    }
    .box-item__label-idea{
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      margin-left: 0 auto;
      font-weight: bold;

      @media(max-width:620px){
        top: 5px;
      }
    }
    .box-item{
      background: rgba(0,0,0,.4);
      border-radius: 5px;

    }
    .slider-heading{
      color: #fff;
      font-size: 2.7rem;
      line-height: 1.3;
      font-weight: 200;
    }
    .rsThumbs{
      position: static;

      .rsThumb{
        position: relative;

        @media(max-width:620px){
          width: 117px;
          height:39px;
          display: block;
          top: 0;
          left:0;
        }
      }
    }
    .rsThumbsContainer{
      width: 65% !important;
      position: absolute;
      bottom: 55px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 100;

      @media(max-width:620px){
        width: 100% !important;
        padding-left: 5%;
      }

      .rsThumb{
        width: 30%;

        &.rsNavSelected{
          &::before{
            content: '';
            position: absolute;
            background: rgba($iridium, .5);
            width: 100%;
            height: 100%;

            @media(max-width: 620px){
              width: 119px;
              height: 30px;
              top:0;
              left:0;
            }
          }
        }

        img{
          width: 100%;
          //height: 100%;
        }
      }
    }
    .social-stats{
      position: absolute;
      width: auto;
      bottom: 10px;
      right: 20px;
      position: absolute;
      font-weight: bold;

      @media(max-width: 620px){
        bottom: 60px;
        right: 0;
        left: 0;
        position: absolute;

      }

      .views{
        width: 140px;
        padding-right: 25px;
      }

      .category-tag{
        width: 60px;
        top: 9px;
        position: relative;
      }
    }
  }
  #hero-slider .rsNav.rsBullets{
    @media (max-width: 1200px){
      &{
        top: -28px;
      }
    }
    @media (max-width: 620px){
      &{
        top: -30px;
      }
    }
  }

  .app-wrap{
    min-height: 1000px;
    background: #F7F7F7;
  }

}

.hero-wrap{
  position: relative;
  overflow: hidden;
}



.has-bullets{
  .rsNav.rsBullets{
    position: relative;
    z-index: 20;
    padding-top: 10px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    line-height: 10px;
    overflow: hidden;

    .rsBullet{
      width: 30px;
      height: 10px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-right: 10px;

      &.rsNavSelected span{
        background-color: $iridium;
      }

      span{
        display: block;
        width: 30px;
        height: 10px;
        border-radius: 7px;
        background: #fff;
        border: 1px solid $iridium;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

.show-hero-category{
  position: absolute;
  right: -18px;
  top: 0px;
  display: none;
}
#hero-nav{
  .hideen-hero-category-menu{
    display: none;
    width: 100%;
    position: absolute;
    top: 57px;
    z-index: 99;
    margin-left: -15px;
    li{
      float: none;
      display: block;
      a{
        float:none;
        color: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
        &:hover{
          color: #fff !important;
        }
      }
    }

  }
}

@media (max-width: 550px){
  .show-hero-category{
    display: block;
  }
  #hero-nav li.hidden-category-menu{
    display: none;
  }
}
