/* main layout */

.over-wrap{
  position: relative;
}

// GENERAL
nav {
  ul{
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
  }
  a{
    display: inline-block;
    float: left;
    padding: 10px 0px;
    text-transform: uppercase;
  }
}


#hero{
  position: relative;
  width: 100%;
  min-height: 425px;
  float: left;
  z-index: 9;


  .head-wrap{
    position: absolute;
    width: 100%;
    padding-top: 12%;
    z-index: 100;

    @media(max-width:800px){
      padding-top: 0;
    }

    @media (max-width:620px){
      width: 95%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  h1{
    width: auto;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;

  }

  .like-counter{
    overflow: hidden;
    color: #fff;
    margin: 30px auto 0;
    border: 0;

    span{
      margin-right: 8px;
    }
  }

  .hero-background{
    background-image: url('/assets/images/landing-hero-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    right: 0;
    height: 100%;
    z-index: 99;
    //background: #a7a7f3;

    @media(max-width:620px){
      width: 100%;
      background-size:contain;
    }
  }

  .color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s;
    background-color: rgba(0,0,0,0.2);

    @media(max-width:620px){
      top: 0;
      left: 0;
    }

    &:hover{
      background-color: rgba($iridium,0.2);
    }
  }


  &.details-hero{
    h1{
      float: left;
      text-align: left;
      margin: 0;
      font-size: 3.3rem;
      line-height: 1.3;
      font-weight: 200;
      z-index: 1;
      padding: 7px 7px 7px 20px;
      background-color: rgba($sky-blue, .7);
      text-shadow: none;

      @media (min-width:620px){
        max-width: 60%;
      }


      span{
        background-position-x: 3px;

        @media(max-width:620px){}
      }
    }
    .color-overlay{
      display: none;
    }
    .like-counter{
      display: none;
    }
    .author-image-big{
      padding-right: 0;
    }

  }

  & > .container{
    padding-left: 0;
    padding-right: 0;
  }

  &.landing-hero{
    &.giveaway-hero{
      .container{
        min-height: 360px;
      }
    }

    .container {
      padding-top: 100px;
      min-height: 450px;
    }
  }

  &.landing-hero .container-fluid{
    min-height: 450px;
  }

  .container{
    position: relative;
  }


}

body.tag-deal{
  #hero.details-hero{
    h1{
      background-color: rgba($dark-orange, .7);
    }
  }
}



main.page-content{
  section{
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .card{
    padding: 5px;

    & > div{
      min-height: 210px;
      overflow: hidden;
      border: 1px solid lighten($light-grey, 15%);
      border-radius: 5px;
      background: #fff;
    }

    h4{
      width: 100%;
      margin-top: 0;
      padding: 15px;
      font-size: 1.4rem;
      background: #F4F4DA;
    }

    span{
      display: inline-block;
      width: 100%;
      padding: 25px;
      font-size: 1.8rem;
      font-weight: normal;
      color: #5C5C5C;

      a{
        color: #5C5C5C;
      }
    }

    ul{
      padding: 10px 25px;
    }

    li{
      overflow: hidden;
      padding: 10px 0;
      background: url('/assets/images/elements/grey-line.png') center repeat-x;

      b{
        color: $pine-green;
        font-weight: normal;
      }

      i{
        float: right;
        width: 170px;
        font-style: normal;
      }

      i, b{
        padding-left: 10px;
        padding-right: 10px;
        background: #fff;
        display: inline-block;
      }
    }
  }
}


.box-container{
  width: 100%;
  float: left;
  border: 0px solid #EFEFEF;
  border-width: 0 0 1px 1px;
}


.main-container{
  overflow: hidden;
}

.layout-controls{
  display: none; // TEMP

  margin-top: 40px;
  li{
    width: 120px;
    float: left;
    margin-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;

    &.selected{
      border: 1px solid #eee;
    }

    &.list{
      background: url("/assets/images/list-grey.png") 7px center no-repeat;
    }
    &.grid{
      background: url("/assets/images/grid-grey.png") 7px center  no-repeat;
    }


  }
}


body.product-details, .single-post{
  .story-header h1 .title,
  .story-header h2 .title, {
    height:15px;
    display: inline-block;
    text-align: center;
  }

  .related-items
  {
    margin-bottom: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;

    legend{
      min-height: 40px;
      margin-bottom: 35px;
    }
    h3{
      text-align: center;
      font-weight: 700;
      position: relative;
      top: 29px;
      max-width: 250px;
      margin: 0 auto;
    }

  }
}
body.product-details{

  ul.social-stats{
    min-width: 220px;
    position: static;
    float: left;
    li{
      position:static !important;
      float: left !important;
      width: auto !important;
    }
    .hearts{
      width: auto;
      padding-top:10px;

      span{
        margin-top: 2px
      }
    }
  }


  .rsThumb{
    width: 145px;
    height: 145px;
  }

  .hero-content-holder{
    padding-top: 60px;
  }
  .story-header{
    h1{
      font-size: 13px;
      margin-top: 6px;
    }



    .like-counter{
      b{
        padding-top: 8px;
      }
    }

    .social-rounds{
      width: 190px;
    }

  }

  .scroll-header  #top-nav a.shop{
    color: $grey;
  }
  .scroll-header  #top-nav a.shop:hover{
    color: $pink;
  }

  .main-container{
    max-width: 900px;
  }

  .article-content{
    font-size: 15px;
    font-family: montserratlight;
  }

  .related-products, .related-ideas{
    max-width: 1170px;
    margin: auto;
  }
}


.story-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 35;
  padding:20px 0 8px;
  overflow: hidden;
  background: #fff;
  background: rgba(255,255,255,.85);
  border-bottom: 1px solid lighten($light-grey, 10%);
  h2{
    height: 28px;
  }
  .get-round{
    margin-top: -10px !important;
  }
  .social-stats{
    position: absolute;
    right: -79px;
    top: -10px;
    z-index: 58;
    font-size: 1.7rem;

    .social-stats__item{
      position: static;
    }
  }

  .lamp-logo{
    float: left;
    min-height: 50px;
    background-size: initial;
    margin-top: -6px;
  }

  h1,
  h2{
    padding-left: 10px;
    float: left;
    margin-top: 11px;
    font-size: 13px;
    text-align: center;
  }

  .title-holder{
    position: relative;
  }

  .share-buttons{
    &.short{
      width: 300px;
    }
    margin-bottom: 0;

    li{
      display: block;
      float: left;
    }
  }

  a.like-counter {
    margin-left: 30px;
    margin-top: 5px;
  }

  .social-rounds{
    float: right;
    width: 390px;

    li{
      float: left;

      span{
        display: inline-block;
        padding-top: 4px;
        padding-left: 5px;
      }
    }

    li.all-shares{
      float: left;
      width: 90px;
      text-align: center;
      color: $light-grey;
      text-transform: uppercase;
      line-height: 1;
      font-size: 1.1rem;
      margin-top: -5px;

      b{
        display: inline-block;
        font-size: 3rem;
      }
    }

    a{
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      border-radius: 90px;
      text-indent: -9999px;
      background-position: center;
    }

  }

  .likes{
    color: $iridium;
  }

  .price{
    font-size: 1.5rem;
    position: relative;
    top: 5px;
  }

  .vendor-logo{
    width: 60px;
    margin: 12px 15px 0;
  }

}

//
.desktop-home-deopdown-container{
  position: relative;
  #desktop-home-deopdown-menu{
    width: 300px;
    right: 15px;
    top: 55px;
  }
}
.mid-nav{
  min-height: 47px;
  position: absolute;
  top: 60px;
  z-index: 39;
  width: 100%;
  background: rgba(255,255,255,.9);
  overflow: hidden;
  > .container{
    position: relative;
  }

  li.home{
    position: relative;
    > a{
      background: $light-pink;
      color: $pink;
      box-shadow: none;
      position: relative;
      padding-left: 35px;

      > .m-icon{
        position: absolute;
        left: 5px;
        top: 3px;
      }
    }

    &.active > a{
      background: $pink;
      color: #fff !important;
    }

  }
  .mobile-top-menu-switcher{
    padding-top: 5px;
    font-size: 2rem;
  }
  .box-link-active-line{
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 15px;
    border-left: 1px solid $light-grey;
    left: 50%;
    top: -15px;
  }
  /*    .box-link.active{*/
  .box-link-ul:first-child .box-link{
    .box-link-active-line{
      display: block;
    }
  }

  .browse-all{
    float: right;
    margin-top: 15px;
    .m-icon--menu{
      font-size: 17px;
      float: left;
      margin-right: 5px;
    }
    span{
      position: relative;
      top: 0px;
      i{
        margin-left: 2px;
        font-size: 10px;
      }
    }

    .up{
      display: none;
    }

    &.active{
      .down{
        display: none;
      }
      .up{
        display: inline-block;
      }
    }
  }

  ul.wrap{
    position: relative;
    overflow: visible;
    float: none;
    margin: 0 auto;
  }

  .horizontal-line-holder:last-child{
    display: none;
  }

  .horizontal-line{
    width:40px;
    height:0px;
    border-bottom: 1px solid $light-grey;
    display: inline-block;
    float:left;
    margin-top: 27px;

  }
  .box-link-ul{
    position: relative;
    .box-link-active-line{
      display: none;
    }

    &.active-ul{
      .box-link-active-line{
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 20px;
        border-left: 1px solid $light-grey;
        left: 50%;
        top: -20px;
      }
    }
  }
  a{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 3px;
    padding: 5px 13px;
    overflow: hidden;
    font-size: 1.2rem;
    color: $tarmac;
    border-radius: 3px;



    &.extra{
      margin-left: 1%;
    }

    &.about{
      margin-left: 7%;
      color: lighten($tarmac, 35%);
    }

    &.more-link{
      text-indent: -9999px;
      background:url("/assets/images/dots-grey.png") center no-repeat;
      background-size: contain;

      &:hover{
        background-image:url("/assets/images/dots-pink.png");
        box-shadow: none;

      }
    }

    &.box-link{
      margin: 15px 3px 13px;
      overflow: visible;

      position: relative;

      &:hover, &.active{
        background: #ed2049;
        color: #fff !important;
        box-shadow:none;
      }
    }



    &:hover, &.active{
      color: white;
      background: #ed2049;

    }
  }

  li.nested{
    position: relative;

  }

  li.selected a{
    color: $iridium;
    -webkit-box-shadow: 0px 0px 0px 2px $iridium;
    -moz-box-shadow: 0px 0px 0px 2px $iridium;
    box-shadow: 0px 0px 0px 2px $iridium;
  }

  .extra-nav{
    @extend .mid-nav;
    display: none;
    position: absolute;
    width: 200px;
    right: 5%;
    top: 40px;
    padding: 0;
    z-index: 10;
    background: #fff;

    -webkit-box-shadow: 9px -8px 27px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 9px -8px 27px -10px rgba(0,0,0,0.43);
    box-shadow: 9px -8px 27px -10px rgba(0,0,0,0.43);

    li{
      width: 100%;
      float: none;

      a{
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        padding:30px 30px 25px 80px;
        background-position: 8px center;
        background-repeat: no-repeat;
        border-bottom: 1px solid $light-grey;

        &.smart-home-link{
          background-image: url("/assets/images/smart-home.png");
        }
        &.travel-link{
          background-image: url("/assets/images/travel.png");
        }
        &.wearables-link{
          background-image: url("/assets/images/wearables.png");
        }
        &:hover{
          box-shadow: none;
        }
      }
    }

  }
}

.mid-nav:not(.rooms){
  .box-link.active{
    margin-right: 17px;
  }

  .box-link-ul:not(:first-child){
    .box-link{
      margin-left: 17px;
    }
  }
}


.mobile-extra-nav,
.mobile-more-nav{
  padding: 20px;
}

header.sub-head{
  position: relative;
  width: 100%;
  float: left;
}


#hero .rsOverflow{
  .hero-tags.extra{
    position: unset;
    display: none;
    .tag-icon{
      display: none;
    }
    .tag:hover a{
      margin-top: 0px;
      display: block;
    }
  }
  overflow: visible;

  .rsContainer{
    &:hover{
    }
    .rsSlide{
      overflow: hidden;
      padding-bottom: 200px;
      height: 700px;
      max-width: 100%;
    }
  }

  .rsContent{
    overflow: hidden;
    .rsInnerContent{
      overflow: hidden;
      height: calc(100% - 26px);
    }
  }
}


.mid-bottom-container{
  margin-top: 55px;
}


#full-width-slider {
  width: 100%;
  color: #000;
}
.photoCopy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: black;
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 9;
}
.photoCopy a {
  color: grey;
}


.latest-heading{
  padding-top: 30px;
  padding-bottom: 10px;
  h6{
    width: 135px;
    margin: -30px auto 0;
    padding: 0 15px;
    background: #fff;
    text-align: center;
    font-size: 1.7rem;
    color: lighten($tarmac, 10%);
  }
}


.left-nav{
  li{
    padding-right: 15px;
  }

  a{
    position: static;
  }
}

//form{

.alert{
  //&.alert-danger,
  //&.alert[type="@danger"]{
    max-width:300px;
    margin: 0 auto 30px;
    padding-top: 27px;
    border: 0px;
    color: #fff;
    text-align: center;
    background: rgba($iridium, .7);
    font-size: 1.5rem;
  //}
  .close{
    margin-top: -5px;
    background: none;
    border: 0px;
    font-size: 23px;
    color: #fff;

  }
}

.subscribe_email_popup{

    //.alerts{
    //  padding-bottom: 25px;
    //  border-radius: 5px;
    //}

    .alert-danger,
    .alert[type="@danger"]{
     background: 0 0;
     font-size: 1.4rem;
      font-weight: bold;
      color: #E61D25;
      padding: 0 !important;
    }
}

//.login-signup-modal{

//}

//}

