// LOGIN-SIGNUP PAGES AND MODALS

body.login-signup{
  .login-signup-modal{
    position: static;
  }
}

.login-signup-modal{
  //position: absolute;
  top: 28px;
  left: 0;
  overflow-y: visible;
  z-index: 500;
  width: 100%;
  //height: 100%;
  margin: auto;
  //overflow: hidden;

  border-bottom: 1px solid #eee;

  @media(max-width: 620px){
    position: absolute;
  }

  .alert:not(:first-child){
    display: none;
  }

  .modal-content{
    overflow: visible;
    padding: 0;
    border-radius: 3px;
  }
  .close-button{
    position: absolute;
    top: 2px;
    right: 7%;
    color: #fff;
    font-size: 3rem;
    z-index: 50;
    &.close-modal{
      top:32px;
      color: #444;
    }
  }
  .login-signup-content{
    float: none;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.toggle-pass{
  margin-top: 16px;
  position: relative;
  z-index: 9999999;
  font-size: 1.2rem;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.login-signup{
  @media(max-width:620px){
    padding-top: 105px !important;
  }

}

#login-modal{
  position: absolute;
  padding-left: 50px;
  z-index: 9;
  background: #fff;
  transform: translate(-200%,0);
  transition: transform .3s;


  @media(max-width:768px){
    min-height: 430px;
    width: 85%;
    padding-left: 0;
  }
  @media(max-width:620px){
    top: 6px;
  }

  &.slid-in{
    transform: translate(0, 0);
  }
}


.modal-intro{
  width: 100%;
  max-width: 650px;
  margin: 0 auto 20px;
  a.logo{
    display: block;
    width: 230px;
    height: 88px;
    margin: 0 auto 20px auto;
    i{
      font-size: 62px;
    }
  }
  p{
    color: #fff;
    text-align: center;
    font-size: 1.9rem;
  }
}

.or{
  position: absolute;
  right: 35px;
  top: 75%;
  min-width: 65px;
  min-height: 10px;

  @media (max-width:1200px){
    right: 6px;
  }

  @media (max-width:620px){
    top:auto;
    bottom: 13px;
    left: 0;
    right: 0;
  }
}

.login-controls{
  max-width: 310px;
  margin: 0 auto;
  float: none;
  overflow: hidden;
  color: #fff;
  padding-bottom: 35px;

  @media (min-width: 620px){
    display: block !important;
  }

  @media(min-width: 768px){
    padding-top: 150px;
  }

  .btn{
    padding-top: 11px;
    margin-bottom: 5px;
    border: 0 !important;
    box-shadow: none !important;
    text-transform: none;

    .m-icon{
      position: relative;
      left:20px;
    }

    //&.active{
    //  display: none;
    //}
  }


}

.modal-login{
  max-width: 400px;
  margin: 0 auto;
  float: none;
  background: transparent;
  border: 1px solid rgba($pale-grey, .2);
  box-shadow: none;

  .btn{
    font-size: 1.2rem;
    padding-top: 11px;
    padding-bottom: 15px;
    border: 0 !important;

    @media(max-width:620px){
      &.has-lamp-wrap{
        padding-left: 25px;
      }
    }

    .lamp-wrap{
      background: #ededed;
      height: 100%;
      position: absolute;
      width: 40px;
      display: block;
      top: 0;
      left: 0;
      font-size: 2.3rem;
      padding-top: 8px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    b{
      font-size: 1.5rem;
    }

  }

  input[type="password"].form-control,
  input[type="text"].form-control{
    margin-bottom: 0;
    border: 1px solid darken($pale-grey, 10%);
    border-bottom: 0;
    border-collapse: collapse;
    border-radius: 0;
    color: darken($pale-grey, 30%);
    background: #fff;
    background-image: none;
    padding-left: 15px;
    font-size: 1.5rem;
    font-family: Montserrat,sans-serif;

    &::-webkit-input-placeholder {
      color: darken($pale-grey, 25%);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: darken($pale-grey, 25%);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: darken($pale-grey, 25%);
    }

    &:-ms-input-placeholder {
      color: darken($pale-grey, 25%) ;
    }


    &.first{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &.last{
      border-bottom: 1px solid darken($pale-grey, 10%);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

  }

  //h3{
  //  padding-left: 10%;
  //}

  span.input--madoka,
  .btn,
  .modal-minor-text{
    //max-width: 90%;
    float: left;
  }

  input[type="checkbox"] + label span {
    margin: -1px 10px 0 0;
  }

  label{
    width: 100%;
    text-align: left;
    font-family: Montserrat, sans-serif;

  }
  .main-button {
    margin-top: 13px;
    margin-bottom: 13px;
  }

}

label[for="acceptterms"],
label[for="accepttermsmodal"]{
  font-size: 1rem;
}

.modal-minor-text{
  padding-top: 10px;
  font-size: 1.2rem;
  color: #444;
  font-weight: bold;
  text-align: center;

  a{
    color: $facebook-blue;
  }
}

#myModal.login-signup-modal{
  padding-top: 0;
  overflow: scroll;
  background: 0 0;

  @media(max-width:620px){
    padding-top: 105px;
  }

  .close-button{
    top: 94px;
    right: 3%;
    z-index: 600;
  }

  #login-modal{
    .close-button {
      top: 4px;
    }
  }
}

.login-signup-modal{
  padding-top: 57px;
  background: #fff;

  .category-block{
    padding: 0;
    max-height:150px;

    .category-bg{
      z-index: 1;
      opacity: .25;
    }

  }

}

body.login-signup{
  height: 100%;
  width: 100%;

  #about-button, #back-to-top, .pocket{
    display: none;
  }


  //> div{
  //  position: absolute;
  //  height: 100%;
  //  width: 100%;
  //  overflow: hidden;
  //}
  //.background{
  //    position: absolute;
  //    background-color: #000;
  //    width: 100%;
  //    height: 100%;
  //    top: 0px;
  //}
  //.background-image{
  //    position: absolute;
  //    width: 100%;
  //    height: 100%;
  //    display: none;
  //    background: url("/assets/images/picture-overlay.jpg");
  //    opacity: 0.6;
  //    z-index: 39;
  //    display: block;
  //    left: 0px;
  //    top: 0px;
  //}
  //.login-signup-modal{
  //  position: absolute;
  //  width: 100%;
  //  max-height: 100%;
  //  z-index: 999;
  //  background: #fff;
  //}
  .content-holder{
    padding-bottom: 50px;
    max-width: 650px;
    position: relative;
    margin: auto;
  }
  .hero-box{
    //padding: 35px;
    overflow: visible;
  }
  .login-logo{
    margin-left:40%
  }
  .logo-app-wrap{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .login-main-block{
    margin-top: 45px
  }
}

