
article.product{
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;

  .article-content{
    padding-right: 0;
    padding-left: 40px;

    p:first-child{
      &:first-letter{
        color: $dark-orange;
        font-size: 4.5rem;
        line-height: 1;
        float: left;
      }
    }
  }



  .reviews{
    margin-bottom: 0;
    display: block;
    font-weight: normal;
    font-size: 1.5rem;
  }
  .main-container{
    padding-right: 0;
  }

}

.reviews{
  h6{
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .score{
    display: inline-block;

    &.critic-score{
      font-size: 7rem;
      line-height: 1.1;
    }
  }

  .rating-lines{
    width: 100%;
  }
  tr{
    margin-top: 40px;

    td{
      padding-top: 40px;
    }
  }

  td.name{
    color: lighten($tarmac, 20%);
    text-transform: uppercase;
    font-size: 2rem;
  }
  td.line{
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .outer-line{
    width: 100%;
    height: 7px;
    background: $light-grey;
  }
  .inner-line{
    height: 7px;
    background: $iridium;
    width: 50%;
  }
  td.score{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
  }
}

.critic-quote{
  padding-left: 80px;
  margin-top: 50px;
  background: url('/assets/images/icons/quotes-black.png') left top no-repeat;
  b{
    font-size: 3rem;
    font-weight: normal;
  }
  .quote-author{
    display: block;
  }
  span:last-child{
    font-size: 1.1rem;
  }
}





// PRODUCT DETAILS

#hero.product-hero{

  h1{
    font-size: 3rem;
    margin-right: 17px;
    margin-top: 27px;
  }


  .product-slider{

    .main-image{
      width: 100%;
    }
  }
}
#hero .average-score{
  margin-left: 15px;;
}
.average-score{
  position: relative;
  margin: auto;
  width: 190px;
  height: 100px;
  padding-top: 10px;
  margin-top: 5px;
  background-color: $iridium;
  border-radius: 10px;
  text-align: center;
  color:#fff;

  .score{
    font-size: 4rem;
  }

  .caption{
    display: inline-block;
    margin-top: 9px;
    font-size: 1.3rem;
    width: 100%;
    border-top: 1px solid #fff;
  }
}

.availabible{
  color: #fff;
  padding-top: 15px;
}

.comparison{
  position: relative;

  .search-bar{
    margin-top: 0;
    background:#fff;
    border-bottom:1px solid rgba(193, 193, 193, 0.22);
    padding: 20px 0;
    margin: 0;
    height: 46px;



    input{
      padding-top: 20px;
      padding-right: 40px;
      padding-bottom: 20px;
      border-radius: 10px;
      background-position: 93% center;
      color: #000;
    }
  }
  .arrow{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 32%;
    background-repeat: no-repeat;
    border: 0;

    &.arrow-left{
      left: 24%;
      background: url('/assets/images/icons/arrow-left-purple.png') no-repeat;
      background-size: contain;
    }
    &.arrow-right{
      right: 3%;
      background: url('/assets/images/icons/arrow-right-purple.png') no-repeat;
      background-size: contain;
    }
  }

  h5{
    display: block;
    width: 100%;
    color: $light-grey;
    padding: 25px 0 7px;
    overflow: hidden;
    border-bottom: 1px solid lighten($light-grey, 10%);

    a{
      display: inline-block;
      float: right;
      font-size: 2.5rem;
      color: $light-grey;
      margin-top: -5px;
    }
  }

  .table-heads,
  .table-cells{
    padding: 0;
    h4{
      min-height: 35px;

    }
    b{
      min-height: 61px;
      display: block;
      padding: 20px 20px;
    }
    b:not(:last-child){
      border-bottom: 1px solid lighten($light-grey, 10%);
    }
  }

  .table-cells{
    .bordered{
      border: 1px solid lighten($light-grey, 10%);
      border-bottom-width: 1px;
      border-radius: 5px;
      margin-left: 5px;
    }
    b{
      color: $light-grey;
      font-weight: normal;
    }
  }

  .view-all{
    margin-top: 25px;
    padding-right: 30px;
    float: right;
    background: url('/assets/images/icons/arrow-right-purple.png') right no-repeat;
    background-size: 25px;
  }

  .add-more{
    display: block;
    margin-top: 70%;
    font-size: 2rem;

    span{
      &.plus{
        font-size: 5rem;
        margin-bottom: -7px;
      }
      display: block;
      width: 100%;
      text-align: center;
    }
  }

}

.comparison-select{
  margin-top: 300px;
}

.comparison-tab{
  padding: 5px;

  &.table-cells{
    overflow: hidden;
  }

  & > div:not(.bordered){
    min-height: 607px;
    position: relative;
    border: 1px solid lighten($light-grey, 15%);
    border-radius: 5px;

    .tab-wrap{
      padding: 15px;

      h4{
        height: 35px;
        overflow: hidden;
      }
    }
  }

  img{
    width: 100%;
    height: 237px;
  }
  h4{
    font-size: 1.6rem;
    font-weight: bold;
  }
  .star-rating{
    margin-bottom: 19px;
  }

  i, .stars{
    color: $light-grey;
    font-size: 1.2rem;
    font-style: normal;
  }

  .score{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4.4rem;
    padding-top: 20px;
    i{
      font-size: 28px;
    }
  }

  .btn-none{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding: 0;
  }

  .close-button{
    position: absolute;
    top: -15px;
    right: -7px;
    height: 19px;
    width: 21px;
    padding: 0 2px;
    background: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
  }


}

.price-badge{
  width: 100%;
  padding: 11px;
  color: #fff;
  margin: 20px 0;
  border-radius: 10px;

  &:hover{
    color: darken(#fff, 5%);
    background: darken($magenta, 7%);
  }

  a{
    color: #fff;
    display: inline-block;
    width: 100%;
  }

  span{
    display: inline-block;
    float: left;
  }
  b{
    display: inline-block;
    float: right;
    font-size: 1.7rem;
  }


}


.popular-new{
  padding-right: 0;
  padding-left: 0;
  .box-link{
    border: none;
    background: #E7E7E7;
    width: 80px;
    //border: 1px solid $light-grey;
    color: #545454;
    margin-right: 0;

    &.active,
    &:hover{
      background: $pink;
      color: #FFFFFF;
    }
  }
  li{
    display: inline-block;
  }
}

.average-ideaing-score{
  width: 195px;
  height: 87px;
  background: #ff0042;
  border-radius: 3px;
  padding-top: 12px;
  text-align: left;
  padding-left: 10px;

  img{
    width: 50px;
    line-height: 189px;
    margin-top: -24px;
    margin-right: 5px;
  }
  .title{
    color: white;
    font-size: 46px;
  }
}
.reviews-medium-container{
  width: 630px;
  margin: auto;
  padding-bottom: 20px;

  .average-ideaing-line{
    padding: 50px 0px 0px;
  }
  .average-ideaing-line > img{
    width: 50%;
    height: 76px;
  }
  .reviews-service-holder{
    .title a{
      color: #00b1ff;
    }
    .critic{
      color: #ff0042;
    }
    .critic-outer-rating{
      margin-top: 15px;

      .star-rating{
        margin-top: 0px;
      }
    }
  }
  .reviews-service-holder.amazon{
    color: #00b1ff;
  }
  .reviews-service-holder .title{
    font-size: 25px;
    font-weight: bold;
  }
  .reviews-service-holder .value{
    font-size: 65px;
    font-weight: bold;
  }
}
.reviews-service-holder{
  .outer-line{
    position: relative;
    margin-top: 55px;

    .line-label{
      position: absolute;
      left:-170px;
      font-size: 25px;
      color: #272727;
      top:-14px;
    }
    .line-value{
      position: absolute;
      right:-110px;
      font-size: 35px;
      font-weight: bold;
      top: -21px;
      color: black;
    }
  }

  &.amazon{
    .amazon-value{
      font-size: 35px;
      color: black;
      font-weight: bold;
    }
    .inner-line{
      background: #00b1ff;
    }
  }
}
.star-rating{
  margin-top: 28px;
}
.star-rating .star{
  display: inline-block;
  font-size: 18px;
}

.light-black{
  color: #393e3f;
}
.vertical-line{
  height: 50px;
  border: 1px solid $iridium;
  width: 0px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#browse-all{
  width: 130px;
  padding-right: 0px;
  &:hover, &.active{
    background: none;
    color: $pink;
  }
}


.product-details #hero-nav{
  .category-nav{
    /*    width: 568px;*/
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    >li{
      margin-right: 15px;
    }
  }
}


.product-popup-modal{
  .email-wrap{
    top:18px;
  }
  .modal-content{
    overflow: hidden;
  }
  .modal-dialog{
    width: 100%;
    height:100%;
    margin: 0px;
    .modal-content{
      border-radius: 0px;
      height: 100%;
      background: #fff;
    }
  }
  .close{
    position: absolute;
    right: 0px;
    font-size: 30px;
    color: black;
    z-index: 9;
    padding: 20px 22px;
    background: $iridium;
    color: #fff;
  }

  .likes{
    .m-icon--heart-solid{
      color: $iridium;
    }
  }

  .lbMain{
    background-color: transparent;
    min-width: 768px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .lbImageContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 610px);
    min-height: 470px;
    height: 100%;
    transition: width 250ms ease-out;

    #product-slider{
      visibility: hidden;
    }
  }

  .lbInfo {
    position: absolute;
    overflow: hidden;
    width: 610px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    transition: right 250ms ease-out;
    z-index: 3;
  }

  #product-slider{
    position: relative;
    width: 100%;
    height: 100%;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    .rsArrow{
      display: block;
      border-radius: 30px;
      width: 50px;
      height: 50px;
      margin-top: -25px;
    }
    .rsArrowLeft{
      left: 20px;
    }
    .rsArrowRight{
      right: 20px;
    }
  }

  .lbInfo{
    overflow-y: auto;
    .p-category-holder{
      >li{
        float: left;
        text-align: center;
        a{
          padding: 20px 30px;
          display: block;
          &.active{
            background: #f9f9f9;
            color: #ff7f00;
          }
        }
        i{
          float: none;
        }
      }
    }
    .p-average-ideaing-score{
      width: 204px;
      text-align: center;
      background: $iridium;
      color: #fff;
      padding-top: 17px;
      height: 125px;
      float: left;

      i{
        font-size: 30px;
        margin-right: 5px;
      }
      .p-score{
        font-size: 41px;
      }
    }
    .ideaing-score-holder{
      background: #f7f7f7;
      padding-bottom: 18px;
    }
    .p-top-bar{
      height: 83px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
    }
    .p-title{
      font-size: 20px;
      padding-right: 70px;
      &:hover{
        color: $pink;
      }
    }

    .p-nest-protect{
      margin-left: 15px;
      padding-top: 33px;


      > ul > li{
        float: left;
        color: $iridium;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        i{
          font-size: 25px;
          margin-right:5px;
        }
      }
    }
    .p-get-it-holder{
      border-bottom: 1px solid #f0f0f0;
      background: #fcfcfc;
      .p-get-it-amazon{
        width: 204px;
        text-align: center;
        background: #4c4c4c;
        color: #fff;
        height: 125px;
        float: left;
        .p-body{
          height: 80px;
          padding-top: 20px;
          .get-round{
            margin-left: 12px;
            margin-top: -9px;
          }
          img{
            position: relative;
            top: 12px;
          }
        }
        .p-footer{
          background: #c60039;
          height: 45px;
          padding-top: 12px;
        }
      }
      .p-get-it-right{
        display: none;
        width: 428px;
        padding-top: 6px;
        .p-btn-get-it{
          background: #c6c646;
          color: #fff;
          padding-left: 20px;
          padding-right: 20px;
        }
        .p-row{
          margin-bottom: 2px;
          .pull-left{
            margin-top: 8px;
            z-index: 1;
            position: relative;
            display: block;
            background: white;
            padding-right: 45px;
            color: #9f9f9f;
          }
          .pull-right{
            position: relative;
          }
          .p-horizontal-line{
            width: 100%;
            border: 1px solid #f5f5e9;
            position: relative;
            top: 18px;
          }
        }
      }
    }

    .share-buttons{
      width: 100%;
      height: 65px;
      > li{
        display: inline-block;
        position: relative;
        height: 55px;
        &:first-child{
          top: 12px;
        }
      }
    }

    .p-row-group{
      border-bottom: 1px solid #f0f0f0;
      padding-top: 20px;
      padding-bottom: 20px;
      .p-row-inner{
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .specification-container{
      .specification-title, .comparisons-title{
        color: #c7c747;
        font-size: 25px;
        font-weight: bold;
      }
      .comparisons-title{
        color: #9e009e;
      }
    }
    .p-read-more{
      color: #ff7f00;
      i{
        font-size: 9px;
        margin-left: 10px;
      }
    }
    .p-reviews-holder{
      .p-reviews-title{
        color: $iridium;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
      }
      .p-critic-reviews-title{
        color: #7f7f7f;
      }
      .reviews-medium-container{
        width: 300px;
      }
    }
    .p-comment-holder{
      .p-comments-title{
        font-size: 17px;
        color: #303030;
        .p-responses{
          color: #40c5ff;
        }
      }
      .p-favorite{
        color: #ff7f00;
        margin-right: 20px;
        font-size: 15px;
        i{
          font-size: 27px;
          position: relative;
          top: 5px;
        }
      }
      .p-comment-user{
        max-width: 77px;
        padding: 0px 2px;
        text-align: center;
      }
    }
    .p-photo{
      border-radius: 50px;
      width: 50px;
    }
    .p-comment{
      padding-left: 80px;
      .p-footer{
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 25px;
        margin-bottom: 25px;
        .btn-helpful{
          border: 1px solid #e5e5e5;
          border-radius: 5px;
          padding-bottom: 10px;
          background: none;
          i{
            margin-right: 5px;
            position: relative;
            top: 5px;
            font-size: 21px;
          }
        }
      }
    }
    .p-comment-row:last-child .p-footer{
      border-bottom: 0px;
      margin-bottom: 0px;
    }

    #comment-content{
      min-height: 100px;
      resize: vertical;
    }

    .p-add-comment .p-comment-box-holder{
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      height: auto;
      margin-left: 80px;
      position: relative;
      padding: 25px 20px;


      .p-footer{
        margin-top: 20px;
        i{
          font-size: 23px;
          position: relative;
          top: 5px;
        }
      }

      &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &::after {
        top: 12px;
        left: -20px;
        border-color: transparent #fff transparent transparent ;
        border-width: 10px;
      }

      &::before {
        top: 11px;
        left: -23px;
        border-color: transparent #d9d9d9 transparent transparent ;
        border-width: 11px;
      }
    }

    #features{
      ul{
        list-style: initial;
        li{
          list-style: initial;
          margin-left: 30px;
        }
      }
    }
  }
}

.top-product-controls{
  margin-top: 10px;
  text-align: center;
  > ul{
    display: inline-block;
  }
  li {
    float: left;
    position: relative;

    a{
      text-transform: none;
      color: $light-grey;
      font-size: 1.2rem;
      padding-left: 15px;
      background-position: left center;
      background-repeat: no-repeat;

      &:hover, &.active{
        color: #ED295C;
      }

      .m-icon{
        font-size: 28px;
        margin-top: -7px;
      }
    }
  }
}
