

// ROOM LADNING PAGE
html.idea-stories,
body.room-landing,
body.homepage{
  #hero{
    overflow: hidden;
    .hero-tags{
      min-height: auto;
      >.tag{
        margin-top: -55px;
        margin-left: -55px;
        z-index: 50;
      }
    }
    .rsOverflow > .hero-tags .tag{
      margin-top: -40px;
      margin-left: -40px;
    }
  }
  //&.logged-in {
  //  #hero {
  //    min-height: 425px;
  //    //padding-top: 2px;
  //  }
  //}
  #hero-nav{
    border-top: 0px;
  }

  .mid-nav{
    .left-nav{
      width: 135px;
      a.all-link{
        width: 180px;
        min-width: 0;
      }
    }
    a{
      border: 0;



      &:hover{
        box-shadow: none;
      }
    }
  }

  #hero{
    img.round{
      border: 2px solid;
      border-radius: 50%;
      background-color: #fff;
    }

    .red{
      @include idea-hero-tags($pinterest-red);
    }

    .blue{
      @include idea-hero-tags($sky-blue);
    }
    .green{
      @include idea-hero-tags($pine-green);
    }

    .pink{
      @include idea-hero-tags($iridium);
      img.round{
        border-color: $iridium;
      }
    }

    .orange{
      @include idea-hero-tags($dark-orange);
    }

    .yellow{
      @include idea-hero-tags(yellow);
    }
  }

  .category-nav{
    width: 412px;;
    margin: auto;
    text-align: center;
  }

  .left-nav{
    padding-left: 0;
  }

  .box-link{
    border-color: $light-grey;
  }


  .page-content{
    overflow: hidden;
    width: 100%;
  }

  .grid-insert{
    text-align: center;
    p{
      line-height: 2.3;
    }
  }

}

body.room-landing{
  .main-content-filter,
  .popular-new a{
    position: relative;
    z-index: 10;
  }

  #hero{
    overflow: visible;
  }
  .heroSlider{
    z-index: 10;
    overflow: visible;

    .rsMainSlideImage{
      max-height: 100%;
      margin-top: 0 !important;
    }
  }

}


.not-availiable{
  font-size: 2rem;
}

.hero-tags{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 450px;
  /*  z-index: 1;*/

  .tag{
    position: absolute;

    &.one{
      top:30%;
      left:10%;
    }
    &.two{
      top:10%;
      left:25%;
    }
    &.three{
      top:60%;
      left:50%;
    }

    a, .hover-box{
      display: none;
    }

    &:hover{
      z-index:11;
      a, .hover-box{
        display: block;
      }

    }
  }

  .tag-icon{
    width: 110px;
    height: 110px;
    display: block;
    cursor: pointer;

    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
  }

  .hover-box{
    width: 200px;
    background: #fff;
    z-index: 40;
    position: relative;
    margin-top: 10px;

    .icon-wrap{
      border: 1px solid #eee;
    }

    h6{
      padding: 15px;
      font-size: inherit;
      color: #000;
      margin: 0;
    }
    div{
      padding: 15px;
      color: darken($light-grey, 30%);

      .get-round{
        margin-top: -6px;
      }
    }
    &::before{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 10px 7.5px;
      border-color: transparent transparent #007bff transparent;

      left:30%;
      top: -10px;
    }
  }

  img:not(.vendor-logo){
    width: 90px;
    height: 90px;
    background: #fff;
    margin-left:25px;
  }

  .vendor-logo{
    margin-top: 25px;
  }

}

.hero-container{
  height: 540px;
}

.pink-border{
  img{
    border-color: $iridium;
  }
}
.red-border{
  img{
    border-color: $pinterest-red;
  }
}
.orange-border{
  img{
    border-color: $dark-orange;
  }
}
.blue-border{
  img{
    border-color: $sky-blue;
  }
}
.green-border{
  img{
    border-color: $pine-green;
  }
}
.yellow-border{
  img{
    border-color: yellow;
  }
}

.filter-link{
  margin-top: 30px;
}

.room-landing{

  .rsContent{
    overflow: visible !important;
  }
  .modal-dialog{
    position: relative;
    .modal-content{
      padding: 0px;
      background: transparent;
      .modal-header{
        background: rgba(0,0,0,.9);
        color: #fff;
        position: relative;
        border-bottom: 0px;
        .box-item__get-it{
          position: absolute;
          right: 34px;
          top: 0px;
          font-size: 19px;
          width:50px;
          height:50px;
          cursor: pointer;
          opacity: 1;
          &:hover{
            background: $pinterest-red;
          }
          i{
            font-size: 30px;
          }
        }
      }
      .modal-body{
        padding: 0px;
      }
    }
  }


  .hero-related-products{
    background: rgba(51,51,51,.9);
    padding: 0;
    z-index: 1;
    min-width: 267px;
    right: 0;

    h5{
      padding: 20px;
      padding-left: 25px;
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
      background: rgba(0, 0, 0, 1) url("/assets/images/arrow-right-white.png") no-repeat right center;
      background-size: 20px;
      font-size: 1.7rem;
    }
    ul{
      margin-bottom: 0;
    }
    li{
      padding: 18px 32px;
      border-top: 1px solid rgba($pale-grey, .4);
      overflow: hidden;
      padding-bottom: 10px;

      .img-holder{
        float: left;
      }
      .name-holder{
        padding-left: 84px;
        display: block;
      }
    }

    a:not(.get){
      color: #fff;

      img{
        width: 64px;
        height: 64px;
        margin-right:20px;

        &.round{
          box-shadow: none !important;
        }
      }

    }

    .get{
      border-radius: 20px;
      background: none;
      color: #fff;
      &:hover, &:focus{
        background: $iridium;
      }
    }
  }
}


.head-image-holder{
  img{
    width:100%;
    height:100%;
    position:relative;
  }
}

.room-related-product-button{
  position: absolute;
  bottom: 2px;
  right: 10%;
  z-index: 38;
  background: #FF0042;
  color: #fff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding-top: 3px;
}
.circle-button{
  background: $iridium;
  color: #fff;
  padding: 4px 11px;
  border-radius: 20px;
}



@keyframes room-filter-animation {
  from {opacity: 0;
    filter: alpha(opacity=0);
  }
  to {opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes room-filter-gridbox-animation {
  from {width: 100%;}
  to {width: calc(100% - 190px);}
}

.room-landing{
  .homepage-grid{
    min-height: 1000px;
  }
}